/*--------------------------------------------------------------
### Wrap--post
--------------------------------------------------------------*/
$post_width: 720px;

.wrap--post {
  position: relative;

  .row > .wrap {
    max-width: $post_width;
    padding: 0 1.5rem 3rem 1.5rem;
    background: #fff;
    @include bp-min($medium){
      padding: 0 3rem 3rem 3rem;
    }
  }
  /*
  .figure {
    height: 1rem;
    background: theme(main, bg);
    display: block;
    bottom: 0;
    width: 100%;
    @include bp-min($medium) {
      position: absolute;
      height: 3rem;
    }
  }
  */

}
