/*--------------------------------------------------------------
### Header--top
--------------------------------------------------------------*/
.header--top {
	width: 100%;

	.header__links {
	  font-size: 0.8125em;
		text-align: right;
		@include bp-max($small) {
			font-size: 0.6875em;
		}

		ul li {

			&:last-child {
				padding-right: 0;
			}
			a {
				color: inherit;
				text-decoration: none;

				&::before {
					top: 0;
				}

				&:hover,
				&:active,
				&:focus {
					text-decoration: underline;

					&::before {
						text-decoration: none;
					}
				}
			}
		}

		.lang {
			margin-left: 0.5rem;
		}
	}
}
