/*--------------------------------------------------------------
### Media Image
--------------------------------------------------------------*/
// Fluid images for posts, comments, and widgets
.comment-content img,
.post-body img,
.widget img,
.wp-caption {
	max-width: 100%;
}

// Make sure images with WordPress-added height
// and width attributes are scaled correctly
.comment-content img[height] {
	height: auto;
}

.wp-post-image,
.post-thumbnail img {
	height: auto;
	max-width: 100%;
}
