/*--------------------------------------------------------------
## Media
==============================================================*/
// Audio
audio,
canvas {
	display: inline-block;
}

// Make sure videos embeds and iframes fit their containers.
embed,
iframe,
object,
video {
	display: block;
	height: 400px;
	margin-top: 1.5rem;
  margin-bottom: 1.5rem;
	max-width: 100%;
	vertical-align: middle;
	width: 100%;

	@include bp-max($small) {
		height: 300px;
		width: 100%;
  }
	@include bp-min($medium) {
		width: 640px;
		height: 480px;
	}
}

// WP playlist
.wp-audio-shortcode,
.wp-playlist.wp-audio-playlist,
.wp-video {
	font-size: 0.75rem;
	margin-bottom: 1rem;
	margin-top: 0;
}
.wp-playlist.wp-playlist {
	padding-bottom: 0;
}
.wp-playlist .wp-playlist-tracks {
	margin-top: 0;
}
.wp-playlist-item .wp-playlist-caption {
	border-bottom: 0;
	padding: 0.625rem 0;
}
.wp-playlist-item .wp-playlist-item-length {
	top: 10px;
}
