/*--------------------------------------------------------------
### FontAwesome doc links
--------------------------------------------------------------*/
// Mark links to documents with corresponding icons for PDF, Word, Excel, PowerPoint and archive documents.
// You can always invoke document icons with classes: icon-pdf, icon-word, icon-excel, icon-powerpoint, icon-archive-file
// To deactivate automatic icon placement on links to the documents, comment next block of CSS rules.
.content-area a[href$=doc]::before,
.content-area a[href$=docx]::before,
.content-area a[href$=gz]::before,
.content-area a[href$=pdf]::before,
.content-area a[href$=ppt]::before,
.content-area a[href$=pptx]::before,
.content-area a[href$=rar]::before,
.content-area a[href$=xls]::before,
.content-area a[href$=xlsx]::before,
.content-area a[href$=zip]::before {
	@include fa;
	font-size: 18px;
	padding-right: 5px;
	padding-right: 0.3125rem;
	vertical-align: baseline;
}
.content-area a[href$=doc]::before,
.content-area a[href$=docx]::before {
	color: #2a5699;
	content: "\f1c2";
}
.content-area a[href$=pdf]::before {
	color: #bb0706;
	content: "\f1c1";
}
.content-area a[href$=ppt]::before,
.content-area a[href$=pptx]::before {
	color: #d24625;
	content: "\f1c4";
}
.content-area a[href$=xls]::before,
.content-area a[href$=xlsx]::before {
	color: #207245;
	content: "\f1c3";
}
.content-area a[href$=gz]::before,
.content-area a[href$=rar]::before,
.content-area a[href$=zip]::before {
	color: #428f27;
	content: "\f1c6";
}

// Do not add file type icon to buttons
.content-area a.btn[href$=doc]::before,
.content-area a.btn[href$=docx]::before,
.content-area a.btn[href$=gz]::before,
.content-area a.btn[href$=pdf]::before,
.content-area a.btn[href$=ppt]::before,
.content-area a.btn[href$=pptx]::before,
.content-area a.btn[href$=rar]::before,
.content-area a.btn[href$=xls]::before,
.content-area a.btn[href$=xlsx]::before,
.content-area a.btn[href$=zip]::before {
	content: none;
}


// Office
.content-area .icon-archive-file::before,
.content-area .icon-excel::before,
.content-area .icon-pdf::before,
.content-area .icon-powerpoint::before,
.content-area .icon-word::before {
	@include fa;
	font-size: 18px;
	padding-right: 5px;
	padding-right: 0.3125rem;
	vertical-align: baseline;
}
.content-area .icon-archive-file::before {
	color: #428f27;
	content: "\f1c6";
}
.content-area .icon-excel::before {
	color: #207245;
	content: "\f1c3";
}
.content-area .icon-pdf::before {
	color: #bb0706;
	content: "\f1c1";
}
.content-area .icon-powerpoint::before {
	color: #d24625;
	content: "\f1c4";
}
.content-area .icon-word::before {
	color: #2a5699;
	content: "\f1c2";
}
