/*--------------------------------------------------------------
## TinyMCE elements
==============================================================*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}

// tables
dl {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}
table,
th,
td,
.mce-item-table,
.mce-item-table th,
.mce-item-table td {
	border: 1px solid #ccc;
}
table,
.mce-item-table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px; /* border-bottom: 1px solid #ededed; */
	margin: 0 0 24px;
	margin: 0 0 1.5rem;
	table-layout: fixed; /* Prevents HTML tables from becoming too wide */
	width: 100%;
}
caption,
th,
.mce-item-table th,
td {
	font-weight: normal;
	text-align: left;
}
th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}
td,
.mce-item-table td {
	border-width: 0 1px 1px 0;
}
th, td {
	padding: 0.4375rem;
}

// img & figures
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
figure {
	margin: 0;
}
del {
	opacity: 0.8;
}


// FontAwesome webfont
.icon-webfont,
.mce-content-body a[target=_blank]:link:after,
ul.list-icon-ok li:before,
ul.list-icon-file li:before,
ul.list-icon-hand-right li:before {
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 20px/1 "FontAwesome";
  font-size: 16px;
	font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
}
a.icon-webfont,
a .icon-webfont,
a:hover.icon-webfont,
a:hover .icon-webfont,
a:active.icon-webfont,
a:active .icon-webfont,
.mce-content-body a[target=_blank]:link:after {
	text-decoration: none!important;
}
