/*--------------------------------------------------------------
## TinyMCE typography
==============================================================*/
blockquote {
	color: #303030;
	line-height: 1.6;

	strong,
	b {
		font-weight: 600;
	}
}
