/*--------------------------------------------------------------
### Footer__float
--------------------------------------------------------------*/
$icon_size: 26px;
$icon_size_l: 32px;

.footer--float {
  display: block;
  overflow: hidden;
  // fixed
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  .icon--float {
    content: "";
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 0;
    width: $icon_size;
    height: $icon_size;

    @include bp-min($medium){
      height: $icon_size_l;
      width: $icon_size_l;
    }

    &:after {
      @include fa();
      content: "\f102";
      font-size: 1.25rem;
      position: absolute;
      margin: 0;
      bottom: 0;
      left: calc(50% - #{$icon_size / 2});
      height: $icon_size * 0.875;
      width: $icon_size;

      @include bp-min($medium){
        font-size: ($icon_size_l * 0.75) + 1px;
        left: calc(50% - #{$icon_size_l / 2});
        bottom: 0;
        height: $icon_size_l * 0.875;
        width: $icon_size_l + 1px;
      }
    }
  }

  // bar is visible
  &.visible {

    .block--float {
      transform: translateY(0);
    }
  }

  // bar reached end of doc
  &.at-bottom {
  }


  .block--float {
    @include trans-ea( 0.5, opacity, transform);
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 1rem;
    transform: translateY(100px);
    position: relative;

    .icon--float {
      box-shadow: 0px 4px 4px rgba(26, 26, 26, 0.35);
      margin-left: 0.5rem;
    }
  }
}
