/*--------------------------------------------------------------
## Footer
==============================================================*/
.site-footer {
  border: none;
	margin: 0 auto;
  position: relative;
  padding-top: $grid_space;

  @include bp-min($medium){
    padding-top: $grid_space * 2;
  }
}


.footer--bottom {
  font-family: $font_site_info;

  .grid {
    flex-wrap: nowrap;

    > .block {
      margin-bottom: 1rem;
      margin-top: 1rem;
      font-size: 0.75em;;
      width: auto;
    }
  }
}
