/*--------------------------------------------------------------
### Header--site__compact switch
--------------------------------------------------------------*/
$height-top: 0;
$height-menu: $logo_m + 16px;
$height-menu-mob: $logo_s + 8px;

// compact menu
$height-top-c: 0;
$height-menu-c: $logo_m_c + 8px;
$height-menu-mob-c: $logo_s_c + 8px;


.header--site {

  .site-branding {

    .custom-logo-link {
      @include bp-min($medium){
        height: $logo_m;
        width: $logo_m;
      }
    }

    .custom-logo {
      //@include trans-collapse(0.15, height);
      height: $logo_s;
      @include bp-min($medium){
        height: $logo_m;
      }
    }
  }

  &__compact {

    .site-branding {

      .custom-logo-link {
        @include bp-min($medium){
          height: $logo_m_c;
          width: $logo_m_c;
        }
      }

      .custom-logo {
        height: $logo_s;
        @include bp-min($medium){
          height: $logo_m_c;
        }
      }
    }
  }
}


.header--site {

  .nav--main {

    &.is-toggled {

      .is-top-level.menu__anchor {
        line-height: 32px;
      }
      .menu--main {
        padding-top: $logo_s + 8px;
      }
    }

    .is-top-level.menu__anchor {
      font-size: $font_size_menu_s;
      line-height: $logo_s + 8px;

      @include bp-min($medium){
        line-height: $logo_m;
        font-size: $font_size_menu_m;
      }
      @include bp-min($large){
        font-size: $font_size_menu_l;
      }

    }
    .menu-main__toggle {
      .menu-toggle {
        height: $logo_s + 8px;
      }
    }
  }


  &__compact {

    .nav--main {

      .is-top-level.menu__anchor {
        @include bp-min($medium){
          line-height: $logo_m_c - 8px;
          font-size: $font_size_menu_s;
        }
        @include bp-min($large){
          font-size: $font_size_menu_m;
        }
      }

    }

  }
}


// Move site-container down for fixed header
.site-container {
  margin-top: $height-top + $height-menu-mob;
  @include bp-min($medium){
    margin-top: 0;
  }

  .page-header {
    //padding-top: $height-menu-mob;
    @include bp-min($medium){
      padding-top: $height-menu;
    }
  }

  &.compact {
    margin-top: $height-top-c + $height-menu-mob-c;
    @include bp-min($medium){
      margin-top: 0;
    }
  }
}
