/*--------------------------------------------------------------
## Menu  ( standard menu list )
==============================================================*/
.menu {

	.menu__item {
		@include bp-min($medium){
			display: inline-block;
			position: relative;
		}
	}

	.menu__anchor {
		@include bp-min($medium){
			display: inline-block;
			font-size: inherit;
			white-space: nowrap;
		}
	}

	// Mark main navigation menu items, containing children
	// Main navigation items drop-down children will be marked by a distinct icon (caret down)
	.has-children {
		> .menu__anchor {

			&::after {
				@include fa;
				font-size: 13px;
				content: "\f078"; // fa-chevron-down
				padding: 0 0 0 4px;
				text-decoration: none;
				vertical-align: 1px;
			}
		}
	}

	// mark menu items with children
	.menu__sub-menu {
		display: block;
		@include bp-min($medium){
			margin: 0 0 0 8px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			top: 100%;
			z-index: 100;

			// submenu item
			.menu__item {
				@include bp-min($medium){
					border: none;
					display: block;
					font-size: 0.875em;

					// remove last bottom border
					&:last-child {
						border-bottom: 0;
					}
				}
			}
			// submenu anchor
			.menu__anchor {
				@include bp-min($medium){
					display: block;
					font-size: 0;
					padding: 0 10px;
					white-space: normal;
					line-height: 0;
					width: $width_submenu;
					@include trans-cb(0.2, padding-top, padding-bottom, line-height);
				}
			}
		}

		.has-children > .menu__anchor::after {
			@include bp-min($medium){
				font-size: 10px;
				content: "\f054"; // fa-chevron-right
				position: absolute;
				right: 8px;
				top: 1.75em;
			}
		}

		// second submenu dropdown
		.menu__sub-menu {
			@include bp-min($medium){
				left: 100%;
				margin-left: 0;
				top: 0;
				border-top: 0;
				overflow: visible;
				margin-top: 0;
			}

			.menu__item {
				@include bp-min($medium){
					font-size: 0.8125rem;
				}
			}
		}
	}
	.menu__item {

		&:focus,
		&:hover {

			> .menu__sub-menu {
				@include bp-min($medium){
					//clip: inherit;
					//height: inherit;
					//overflow: inherit;
					//width: inherit;
					.menu__anchor{
						font-size: inherit;
						line-height: $height_submenu;
						padding-top: 8px;
						padding-bottom: 8px;
					}
				}
			}
		}
	}

} // menu

// focus for submenu (tablets)
.focus > .menu {
	@include bp-min($medium){
		clip: inherit;
		height: inherit;
		overflow: inherit;
		width: inherit;
	}
}
