/*--------------------------------------------------------------
## Nav--main (menu container)
==============================================================*/
.nav--main {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	@include bp-min($medium){
		position: relative;
	}

	.menu-toggle {
		font-weight: normal;
		padding: 0 0.25em 0 0;
		overflow: hidden;
		display: block;
		@include bp-min($medium){
			display: none;
		}

		&::before {
			@include fa();
			content: "\f0c9"; // menu icon
			display: inline-block;
			font-size: 18px;
			margin-right: 4px;
			vertical-align: 0;
			width: 20px;
		}
	}

	&.is-toggled {
		// height: 100%; // probably not needed
		overflow-y: auto; // if auto is not working, use scroll
		width: 100%;

		.wrap-menu {
			margin: 0.5rem auto 0;
			height: 100%;
			width: 220px;
		}

		.menu-toggle {
			position: absolute;
			right: 0;
			top: -1px;
			@include bp-min($medium){
				display: none;
			}

			&::before {
				content: "\f00d";
				font-size: 22px;
				vertical-align: -1px;
			}
		}

		.menu {
			display: block;
			list-style: none;
			margin: 0 0 3rem 0;
			padding-top: 4rem;
			@include bp-min($medium){
				display: none;
			}
		}

		.menu__item {
			margin-left: 0;
		}

		.menu__anchor {
			color: inherit;
			display: block;
			padding: 0.375rem;
			text-decoration: none;
			@include bp-max($medium){
				padding: 0.375rem 1rem;
			}

			&::after {
				border-style: none !important;
			}

			&.is-top-level {
				padding-top: 0.1875rem;
				padding-bottom: 0.1875rem;
			}

			&.is-top-level.is-menu-ancestor {
				padding-bottom: 0;
			}
		}

		.has-children {
			> .menu__anchor::after {
				display: none;
			}
		}

		.menu__sub-menu {
			left: 0;
			margin: 0;
			padding: 0;
			position: static;
			top: 0;

			.menu__anchor {
				padding-left: 2rem;
				width: auto;
			}

			// submenu 2
			.menu__sub-menu {
				display: none;
				font-size: 0.9375em;

				.menu__anchor {
					padding-left: 4.5rem;
				}

				// submenu 3
				.menu__sub-menu {

					.menu__anchor {
						padding-left: 6.5rem;
					}
				}
			}
		}
	}
}
