/*--------------------------------------------------------------
### Headings
--------------------------------------------------------------*/
p {
	@include font_em(p);
	margin-top: 0;
	margin-bottom: 1em;
}

ul, ol {
	@include font_em(p);
}

@mixin small-text {
  font-size: 0.875em;
  @include bp-max($small) {
    font-size: 0.75em;
  }
}
small {
  @include small-text;
}

@mixin h1 {
	@include font_em(h1);
	@include heading-font;
  margin: 0 auto 0.5rem;
	width: 100%;
}
h1 {
  @include h1;
}


@mixin h2 {
	@include font_em(h2);
	@include heading-font;
  margin: 0 auto 0.5rem;
	width: 100%;
}
h2 {
  @include h2;
}

@mixin h3 {
	@include font_em(h3);
	@include heading-font;
	width: 100%;
  margin: 0 auto 0.5rem;
}
h3 {
  @include h3;
}

@mixin h4 {
	@include font_em(h4);
	@include heading-font;
	width: 100%;
  margin: 0 auto 0.5rem;
}
h4 {
  @include h4;
}
