/*--------------------------------------------------------------
### Page-header--bg
--------------------------------------------------------------*/
.page-header--bg {

	.row--intro {
		padding-top: 10.5rem;
		@include bp-min($small){
			padding-top: 18rem;
		}
		@include bp-min($medium){
			padding-top: 9rem;
		}

		.grid > .block--text {
			background: theme(main, bg);
			box-shadow: 1px 2px 8px rgba(1,1,1,0.25);
			padding: 1.5rem 2.5rem;
			@include bp-min($medium){
				padding: 2rem 4rem;
			}
		}
	}
}
