/*--------------------------------------------------------------
### Row--index
--------------------------------------------------------------*/
.row--index {

  .block--humanify {
    @include bp-max($medium){
      display: none;
    }
  }

  .block__author {
    @include bp-min($medium){
      text-align: right;
    }
  }
}

.row--post--side {
  .grid > .block {
    @include bp-min($medium) {
      margin-bottom: $gridspace;
    }

  }
}
