/*--------------------------------------------------------------
### Row--pages
--------------------------------------------------------------*/
.row--pages {

  &.postlinks {

    .block--link {
      margin-bottom: 1rem;
    }

    .list--links {
      width: 340px;
    }

    .grid--50 > .block {
      @include bp-min($medium){
        flex-direction: row;
      }
    }

  }
}
