/*--------------------------------------------------------------
### Row--term
--------------------------------------------------------------*/
.row--term {

  .section-img {
    object-fit: contain;
    object-position: left top;
    max-height: 240px;
    @include bp-min($medium){
      max-height: 300px;
    }
  }

  .button-group {
    margin-top: 1.5rem;
  }

  .grid {
    > .block--image {
      display: none;
    }

    @include bp-min($medium){
      > .block--image {
        display: block;
      }
    }

  }

}
