/*--------------------------------------------------------------
### block__img
--------------------------------------------------------------*/
.block__img {
  height: auto;
  width: 100%;

  img {
    object-fit: contain;
    width: 100%;
  }

  &.pad {
    padding: $pad;
  }
}
