/*--------------------------------------------------------------
## Block
==============================================================*/
.block {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .block__frame {
    box-sizing: border-box;
  }

  .button-group {
    margin-top: auto;
  }


  /* inner spacing -------------------------------------------*/

  .block__img + .block__body,
  .block__thumb + .block__body,
  .block__img + .block__title,
  .block__thumb + .block__title,
  // after title
  .block__title + .block__list,
  .block__title + .block__text,
  // after list
  .block__list + .block__title,
  // before button-group
  .block__meta + .button-group,
  .block__list + .button-group,
  .block__text + .button-group {
    margin-top: $pad;
  }

}


@import "block__body";
@import "block__header";
@import "block__footer";
@import "block__img";
@import "block__img--circle";
@import "block__img--icon";
@import "block__img--slider";
@import "block__gallery";
@import "block__thumb";
@import "block__title";
@import "block__meta";
@import "block__map";
@import "block__text";
@import "block__btn";
@import "block__link";
@import "block__list";
