/*--------------------------------------------------------------
### block__title
--------------------------------------------------------------*/
.block__title {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  width: 100%;

  &.pad {
    padding-left: $pad;
    padding-right: $pad;
    @include bp-max($small){
      padding-left: $pad;
      padding-right: $pad / 4;
    }
  }

  &.inside {
    background: rgba(theme(site, base), 0.5);
    position: absolute;
    padding: $pad;
    text-shadow: $text_shadow;
  }
}
