/*--------------------------------------------------------------
### block__thumb
--------------------------------------------------------------*/
.block__thumb {
  position: relative;
  /*
  height: $block__img-s;
  @include bp-min($small) {
    height: $block__img-m;
  }
  @include bp-min($medium) {
    height: $block__img-l;
  }*/

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &.pad {
    padding: $pad;
  }
}
