/*--------------------------------------------------------------
### preview--post--calendar
--------------------------------------------------------------*/
.preview--post--calendar {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.75rem 0.5rem;
  position: relative;

  a {
    padding-left: 10px;
    width: calc(100% - 10px - 54px);
  }

  .block__title {
    padding: 0;
    line-height: 1.1375;

    &::after {
      @include fa();
      content: "\f105";
      margin-left: 0.5rem;
      position: absolute;
      font-size: 1.25em;
      right: 0.25em;
      top: 0.375em;
      opacity: 0.25;
    }
  }

  // small size links
  &.mini {
    padding: 0;
    margin-bottom: 0.75rem;

    .block__title {
      font-size: 1em;

      &::after {
        top: 0;
      }
    }

    .date--square {
      padding: 2px 0;
      height: 40px;
      width: 40px;

      .date__month,
      .date__day {
        font-size: 1em;
        line-height: 18px;
      }
    }

  }
}
