/*--------------------------------------------------------------
## Page-title
--------------------------------------------------------------*/
.page-title {
	display: inline-block;
	margin: 0;
	width: 100%;

  a {
    text-decoration: none;
  }
}

.page-title__inverse {
  background: theme(main);
  color: theme(main, bg);
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
	width: auto;
}

.page-subtitle {
	display: inline-block;
	font-size: 1.25em;
	margin-top: 0.75rem;
	margin-bottom: 1rem;
	margin-left: 0;
	padding: 0.25rem 0.5rem;
	width: auto;
	@include bp-min($medium){
		font-size: 1.5em;
	}
}
