/*--------------------------------------------------------------
### Page-featured-image
--------------------------------------------------------------*/
$p-f-img__phone-mini: 300px;
$p-f-img__phone: 300px;
$p-f-img__tablet: 360px;
$p-f-img__desktop: 400px;

.page-featured-image {

	.wp-post-image {
		margin: 0;
		border-radius: 0;
		box-shadow: none;
		object-fit: cover; // center and crop to size
		height: $p-f-img__phone-mini;
		width: 100%;

		@include bp-max($small) {
			height: $p-f-img__phone-mini;
		}
		@include bp-min($medium) {
			height: $p-f-img__tablet;
		}
		@include bp-min($large) {
			height: $p-f-img__desktop;
		}
	}
}


$f-img-h__phone-mini: 240px;
$f-img-h__phone: 400px;
$f-img-h__tablet: 540px;
$f-img-h__desktop: 660px;

.home {

	.page-featured-image {

		.wp-post-image {
			height: $f-img-h__phone;
			object-position: center;

			@include bp-max($small) {
				height: $f-img-h__phone-mini;
			}
			@include bp-min($medium) {
				height: $f-img-h__tablet;
			}
			@include bp-min($large) {
				height: $f-img-h__desktop;
			}
		}
	}
}
