/*--------------------------------------------------------------
### Page-header
--------------------------------------------------------------*/
.page-header {
	display: flex;
	position: relative;
	@include bp-min($medium){
		min-height: 31vh;
	}

	&.page-header--archive,
	&.post-header--werkwijze {
		@include bp-min($medium){
			min-height: 38vh;
		}
		@include bp-min($large){
			min-height: 30vh;
		}
	}

	&.page-header--landing {
		@include bp-min($medium){
			min-height: 50vh;
		}
	}

	> .wrap {
		margin-top: auto;
	}

	.grid {
		@include bp-max($medium){
			flex-direction: column-reverse;
		}
	}

	.block {
		margin-bottom: 2rem;
		margin-top: auto;
	}

	.block--title {
		flex-direction: row;
	}

	.block--meta {
		text-align: left;

	  @include bp-min($medium){
	    text-align: right;
	    margin-left: auto;
	  }
	}

	.block--humanify {
		flex-direction: column;
	}

	.block__text {
		margin-top: 1.5rem;
		padding-left: 1em;

		p {
			@include bp-min($medium){
				font-size: 1.125em;
			}
		}
		p:last-child {
			margin-bottom: 0.25em;
		}
	}

	.undertext {
		margin: 0.5rem 0 0 0.25rem;
		letter-spacing: 1px;
		text-transform: lowercase;
		&:first-letter {
			text-transform: capitalize;
		}
	}

	.tax__label {
    margin-right: 0.75rem;
    position: relative;
    bottom: 0.25em;
	}
}
