/*--------------------------------------------------------------
### Button--alt
--------------------------------------------------------------*/
@mixin button--alt() {
  background: theme(style-1, btn);
  border: 1px solid transparent;
  border-radius: $btn_radius;
  box-shadow: 1px 1px theme(style-1, border);
  color: theme(style-1, text);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-shadow: $text_shadow;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  .clickable:hover &.click,
  &:hover {
    background: theme(style-1, btn-h);
    border-bottom: 1px solid theme(style-1, btn-a);
    color: theme(style-1, text);
  }

  .clickable:active &.click,
  &:active {
    background: theme(style-1, btn-a);
    border-color: theme(style-1, btn-a);
    color: theme(style-1, text);
  }
}


.button--alt {
  @include button--alt();

  &:focus {
    outline: 0;
  }
}
