/*--------------------------------------------------------------
### Button--g
--------------------------------------------------------------*/
@mixin button--g() {
  background: clr(grey, light);
  border: 1px solid transparent;
  border-radius: $btn_radius;
  box-shadow: 1px 1px clr(grey, dark);
  color: theme(main, text);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  .clickable:hover &.click,
  &:hover {
    background: clr(grey, light);
    border-bottom: 1px solid clr(grey, dark);
    color: theme(main, text);
  }

  .clickable:active &.click,
  &:active {
    background: clr(grey, dark);
    border-color: clr(grey, dark);
    color: theme(main, text);
  }
}


.button--g {
  @include button--g();

  &:focus {
    outline: 0;
  }
}
