/*--------------------------------------------------------------
## Clickable
blocks with this class will open the link anywhere in container
as such, add clickfeedback etc here
==============================================================*/
.clickable {
  cursor: pointer;
  @include trans-cb(0.2, opacity, color);

  .block__title a {
    text-decoration: none;
    color: inherit;
  }

  // hover --------------
  &:hover {
    cursor: pointer;

    .block__title {

      &::after,
      &::before {
        color: theme(style-1, btn-h);
      }
    }

    .block__link {
      color: theme(main, link-h);
      text-decoration: underline;

      &::before,
      &::after {
        color: inherit;
      }
    }
  }

  // active --------------
  &:active {
    cursor: pointer;

    .block__thumb,
    .block__img img,
    .wp-post-image {
      opacity: 0.9;
    }

    .block__title {

      &::after,
      &::before {
        color: theme(style-1, btn-a);
      }
    }

    .block__link {
      color: theme(main, link-a);

      &::before,
      &::after {
        color: inherit;
      }
    }

  }
}
