/*--------------------------------------------------------------
### List--links class
--------------------------------------------------------------*/
.list--links {
  margin: 0;

  .block--link {
    margin: 0;
  }

  .block--link.is-active {
    position: relative;

    &::before {
      @include fa();
      content: "\f0da";
      margin-right: 0.25rem;
      position: absolute;
      left: -12px;
      top: 5px;
    }
  }
}
