/*--------------------------------------------------------------
### Tax__label
--------------------------------------------------------------*/
.tax__label {
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.25em 0.5em;
  &::first-letter {
    text-transform: capitalize;
  }

  &.button--w {
    box-shadow: none;
  }
}
