/*--------------------------------------------------------------
### tax--prod for portfolio
--------------------------------------------------------------*/
.tax--prod {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;

  .btn.no-link {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .tax__label {
    margin: 0.25rem 0.25rem 0.1875rem 0;
    width: 100px;
  }

  .tax__label,
  .tax__link {
    padding: 4px 12px;
    @include bp-min($medium){
      padding: 4px 12px;
    }

  }

  .tax__bg {
    width: calc(100% - 104px); // 116px + 4px
  }
}
