/*--------------------------------------------------------------
### Block--collapse
--------------------------------------------------------------*/
.block--collapser {
  margin-bottom: 1rem;

  .block__title {
    border-bottom: 1px solid;
    opacity: 0.8;
    padding: 0 2rem 0 0;
    position: relative;

    &::after {
      @include fa();
      content: "\f067"; //plus //f055
      font-size: 1.25rem;
      line-height: inherit;
      padding-left: 0.25rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &:hover,
    &:active {
      color: theme(main, text);
    }

  }


  // .collapse--wrap
  .block__body {
    cursor: pointer;
    flex-direction: row;

    &.toggled {

      .block__title {
        opacity: 1;

        &::after {
          content: "\f068"; // minus
        }
      }
    }
  }


  // collapse--card
  .block__frame {
    @include trans(0.2, height);
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
    height: 0;
    width: 100%;

    .block__text {
      @include trans(0.3, opacity);
      opacity: 0;
    }

    // toggled infocard
    &.toggled {
      height: 80px; // gets modified by js to fit text
      margin: 1rem 0 2rem 0;

      .block__text {
        opacity: 1;
      }

      .block__footer {
        display: flex;
        flex-direction: row-reverse;
        @include bp-max($small) {
          margin-top: 0.75rem;
          flex-direction: row;
        }

        .block__btn {
          margin-top: auto;
        }
      }
    }
  }

}
