/*--------------------------------------------------------------
### Tax links
--------------------------------------------------------------*/
.tax {
  display: inline-block;
  line-height: 1.5rem;
}

.tax__link {
  border-bottom-width: 1px;
  line-height: inherit;
  margin: 0.25rem 0.25rem 0.25rem 0;
  padding: 0.125rem 0.5rem;

  &::before {
    @include fa();
    font-size: inherit;
    position: relative;
    padding-right: 0.25rem;
  }
}

.tax__link--cat {

  &::before {
    //display: none;
    content: "\f07c"; // fa-folder-open
  }
}

.tax__link--tag {

  &::before {
    //display: none;
    content: "\f02b"; // fa-tag
  }
}
