/*--------------------------------------------------------------
## Grid
==============================================================*/
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gridspace;
  margin-right: -$gridspace;
  @include bp-min($medium) {
    flex-wrap: wrap;
  }

  > .block {
    flex-direction: column;
    margin-left: $gridspace;
    margin-right: $gridspace;
    margin-bottom: $gridspace;
    @include calc-width(100);
    @include bp-min($medium) {
      margin-bottom: $gridspace * 1.5;
    }
  }

  // fix heading-only text block margins
  > .block--text {

    > .block__text {
      > h2 {
        margin-bottom: 0;
      }
      > h2 + p {
        margin-top: $text_spacing;
      }
    }
  }


  > .block--collapser {
    margin-bottom: $gridspace;
  }
}

// reverse mod
.grid.reverse {
  flex-direction: row-reverse;
}
// full row vertical reverse
.grid--100.reverse {
  flex-direction: column-reverse;
}

.grid.nowrap {
  @include bp-min($medium){
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
  }
}

.grid--gallery.nowrap {

  .gallery__frame {
    display: flex;
    justify-content: center;
    margin: 0 0.5rem 1rem 0.5rem;
    @include bp-min($medium){
      margin: 0 1rem 2rem 1rem;
    }
  }

  .gallery__img {
    display: inline-block;
    height: auto;
    width: auto;
    max-height: 240px;
    object-fit: contain;
    object-position: top;

    @include bp-max($small){
      height: 160px;
    }
  }
}


.grid--16 {

  > .block {
    flex-direction: column;
    @include calc-width(16.66666667);

    @include bp-max($small) {
      @include calc-width(33.3333);
    }
    @include bp-min($medium) {
      @include calc-width(16.66666667);
    }
  }
}

.grid--20 {

  > .block {
    flex-direction: column;
    @include calc-width(33.3333);

    @include bp-max($small) {
      @include calc-width(50);
    }
    @include bp-min($medium) {
      @include calc-width(20);
    }
  }
}

.grid--25 {
  > .block {
    flex-direction: column;
    @include calc-width(50);

    @include bp-max($small) {
      @include calc-width(100);
    }
    @include bp-min($medium) {
      @include calc-width(25);
    }
  }
}

.grid--33 {
  > .block {
    flex-direction: column;
    @include calc-width(50);

    @include bp-max($small) {
      @include calc-width(100);
    }
    @include bp-min($medium) {
      @include calc-width(33.3333);
    }
  }
}

.grid--40 {

  > .block {
    flex-direction: column;
    @include bp-max($small) {
      @include calc-width(100);
    }
    @include bp-min($medium) {
      &:nth-child(odd) {
        @include calc-width(40);
      }
      &:nth-child(even) {
        @include calc-width(60);
      }
    }
  }
}

.grid--50 {

  > .block {
    flex-direction: column;

    @include bp-min($medium) {
      @include calc-width(50);
    }
  }
}

.grid--60 {

  > .block {
    @include bp-min($medium) {

      &:nth-child(odd) {
        @include calc-width(66.6666);
      }
      &:nth-child(even) {
        @include calc-width(33.3333);
      }
    }
  }

}

.grid--75 {

  > .block {
    @include bp-min($medium) {

      &:nth-child(odd) {
        @include calc-width(75);
      }
      &:nth-child(even) {
        @include calc-width(25);
      }
    }
  }
}

.grid--center {
  justify-content: center;
}
