/*--------------------------------------------------------------
### Grid--post
--------------------------------------------------------------*/
.grid--post {

  > .block--left {
    display: none;
  }
  > .block--right {
    display: none;
  }

  @include bp-min($medium){

    > .block--left {
      display: block;
      @include calc-width(15);
    }
    > .block--mid {
      @include calc-width(70);
    }
    > .block--right {
      display: block;
      @include calc-width(15);
    }
  }

}

.page-header .grid--post {
  .block--meta {
    display: flex;
  }
}
