/*--------------------------------------------------------------
### Grid--posts
--------------------------------------------------------------*/
$gridspace_prev: $gridspace;

.grid--previews {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gridspace_prev;
  margin-right: -$gridspace_prev;

  > .preview {
    flex-direction: row;
    margin-left: $gridspace_prev;
    margin-right: $gridspace_prev;
    margin-bottom: $gridspace_prev;
    @include calc-width(100, $gridspace_prev);

    @include bp-min($medium) {
      margin-bottom: $gridspace_prev * 1.5;
    }

    // block__text
    .block__text p {
      @include font-fill(prev, small, 2);
      min-height: auto;

      @include bp-min($medium) {
        @include font-fill(prev, medium, 2);
      }
      @include bp-min($large) {
        @include font-fill(prev, large, 2);
      }
    }


  }

  &.grid--100 {

    > .preview {
      flex-direction: column;
      flex-wrap: nowrap;

      .block__title {
        @include font-fill(prev-title, base, 2);
      }

      @include bp-min($small){
        flex-direction: row;
        .block__body {
          width: 70%;
        }
        .block__thumb {
          width: 30%;
        }
        .block__title {
          @include font-fill(prev-title, small, 2);
        }
      }

      @include bp-min($medium){
        .block__body {
          width: 75%;
        }
        .block__thumb {
          width: 25%;
        }
        .block__title {
          @include font-fill(prev-title, medium, 2);
        }
      }

      @include bp-min($large) {

        .block__title {
          @include font-fill(prev-title, large, 2);
        }
      }
    }

  }

  &.grid--50 {

    > .preview {
      flex-direction: column;

      .block__title {
        @include font-fill(prev-title, base, 1);
      }
      .block__text p {
        @include font-fill(prev, base, 1);
      }

      @include bp-min($small) {
        @include calc-width(50, $gridspace_prev);
        .block__title {
          @include font-fill(prev-title, small, 2);
        }
        .block__text p {
          @include font-fill(prev, small, 1);
        }
      }

      @include bp-min($medium) {
        @include calc-width(50, $gridspace_prev);
        .block__title {
          @include font-fill(prev-title, medium, 1);
        }
        .block__text p {
          @include font-fill(prev, medium, 3);
        }
      }

      @include bp-min($large) {
        .block__title {
          @include font-fill(prev-title, large, 1);
        }
        .block__text p {
          @include font-fill(prev, large, 3);
        }
      }
    }
  }


  &.grid--33 {

    > .preview {
      flex-direction: column;
      @include calc-width(100, $gridspace_prev);

      .block__title {
        @include font-fill(prev-title, base, 1);
      }

      @include bp-min($small) {
        @include calc-width(100, $gridspace_prev);
        .block__title {
          @include font-fill(prev-title, small, 1);
        }
      }


      @include bp-min($medium) {
        @include calc-width(33.3333, $gridspace_prev);
        .block__title {
          @include font-fill(prev-title, medium, 1);
        }
      }

      @include bp-min($large) {
        .block__title {
          @include font-fill(prev-title, large, 1);
        }
      }
    }
  }

  &.grid--25 {

    > .preview {
      flex-direction: column;
      @include calc-width(50, $gridspace_prev);

      .block__title {
        @include font-fill(prev-title, base, 3);
      }

      @include bp-min($small) {
        @include calc-width(25, $gridspace_prev);
        .block__title {
          @include font-fill(prev-title, small, 3);
        }
      }

      @include bp-min($medium) {
        @include calc-width(25, $gridspace_prev);
        .block__title {
          @include font-fill(prev-title, medium, 3);
        }
      }

      @include bp-min($large) {
        .block__title {
          @include font-fill(prev-title, large, 3);
        }
      }
    }
  }

  &.icons {
    > .preview {
      .block__title {
        min-height: unset;
      }
    }
  }

}
