/*--------------------------------------------------------------
### Btn icon classes
--------------------------------------------------------------*/
.btn {

  &::before {
    @include fa_em();
    top: 0;
    width: 1.5em;
  }

  &.page::before {
    content: "\f101";
  }

  &.email::before {
    content: "\f0e0";
  }

  &.phone::before {
    content: "\f095";
  }

  &.linkedin::before {
    content: "\f08c";
  }

  &.facebook::before {
    content: "\f230";
  }

  &.twitter::before {
    content: "\f081";
  }

  &.instagram::before {
    content: "\f16d";
  }

  &.share-button::before {
    content: "\f08b";
    transform: rotate(-90deg);
    padding: 0;
  }

  &.dialog__close::before {
    content: "\f00d";
  }
}
