/*--------------------------------------------------------------
### Btn
--------------------------------------------------------------*/
// note: .btn is the layout class, .button is the style

.btn {
  padding: $btn_pad_s;
  @include bp-min($medium){
    padding: $btn_pad_m;
  }
}
