/*--------------------------------------------------------------
## Row--product
==============================================================*/
.row--product {

  .block--products {
    font-size: 0.875em;

    @include bp-min($medium){
      margin-left: auto;
      max-width: 200px;
      .row__title {
        margin-bottom: 3rem;
      }
    }
  }
}

.row--product__ww {

  .block--text {

    h4 {
      padding: 0.75rem 1rem;
      margin-top: 1.5rem;
      margin-bottom: 0;
    }

    ul {
      font-size: 0.875em;
      margin: 0 0 3rem 0;
      padding: 1.5em 1rem 1.5em 1rem;
      border-radius: 0 0 6px 6px;
      @include bp-min($medium){
        font-size: 0.9375em;
      }
    }
  }
}


.row--product__cost {

  .preview--page--product {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding-bottom: 0.75rem;

    .block__title--inverse {
      padding: 0.375rem 0.75rem;
      text-shadow: none;
      width: 100%;
    }

    .block__text {
      margin-top: 1.5rem;
      font-size: 0.875em;
      padding: 0 0.75rem;
      width: 100%;
      @include bp-min($medium){
        font-size: 0.9375em;
        padding: 0 1.5em 0 0.75rem;
        width: calc( 100% - 200px - 12px);
      }

      p {
        margin: 0;
      }
    }

    .btn {
      width: 200px;
      font-size: 0.875em;
      margin: 1.5em 0.75rem 0 0.75rem;
      text-align: center;
      @include bp-min($medium){
        margin: auto 0.75rem 0 0;
        width: 200px;
      }

      &::after {
        @include fa();
        content: "\f178";
        font-size: 1em;
        margin-left: 0.25em;
      }
    }

  }

  .grid--details {
    flex-direction: column;
    @include bp-max($medium){
      flex-direction: row;
      margin-left: -1rem;
      margin-right: -1rem;
    }

    > .block {
      margin-right: 1rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      max-width: 200px;
      @include bp-min($medium){
        margin-left: auto;
        margin-right: 2rem;
        width: calc( 100% - 1rem);
      }
    }

    .list--docs {
      li:last-child {
        margin-bottom: 0;
      }
    }

  }

}
