/*--------------------------------------------------------------
### Row sections
--------------------------------------------------------------*/
.row .block--post {

	.row--section {
		padding-top: 4rem;

		&:first-child {
			padding-top: 0;
		}
	}

}

.row--section {

  &.connect {
    padding-bottom: 0;

    + .row--section {
      padding-top: 0;
    }
  }

  .reverse {
    .button-group {
      text-align: right;
    }
  }

  .block__img {
    height: auto;
    @include bp-min($medium) {
      margin-top: 0.625rem;
    }

    img {
      height: 100%;
      max-height: $section_img_m;
      @include bp-min($medium) {
        max-height: $section_img_d;
      }
    }
  }

  .block__link {
		@include bp-max($small){
			font-size: 15px;
		}

    &::after {
      @include fa_em();
      content: "\F0DA"; //"\f105";
      padding-left: 0.375em;
      @include trans-ea(0.3, transform);
    }

    &:hover,
    &:active {

      &::after {
        transform: translateX(6px);
      }
    }
  }

  ul > li {

    @include bp-min($medium){
      font-size: 1em;
    }
  }

  // adjust row title width to block
  &.text-text {

    .row__title {
      @include bp-min($medium){
        @include calc-width(50, ($gridspace / 2));
      }
    }
  }

}
