/*--------------------------------------------------------------
### Row contact
--------------------------------------------------------------*/
.row--contact {
  padding-top: 4rem;

  .block--contact {

    .block__frame {
      margin-left: auto;
      margin-right: 0;
      @include bp-min($medium){
        max-width: 240px;
        text-align: right;
      }
    }

    .block__list,
    .button-group {
      margin-bottom: 3rem;
    }
  }
}


.row--contact.map {
  padding: 0;

  .block--map {
    margin: 0;
  }
}
