/*--------------------------------------------------------------
### Row--form
--------------------------------------------------------------*/
.row--form--pw {

  $fpw_height: 32px;

  .pw-field {
    height: $fpw_height;
    padding-left: 1rem;
  }
  .button {
    height: $fpw_height - 1px;
    position: relative;
    top: -1px;
    margin-left: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
