/*--------------------------------------------------------------
### Row--previews
--------------------------------------------------------------*/
.row--previews {

  &__select {
  }

  &--landing {

    .preview {
      .block__text p {
        min-height: unset;
        margin: 0;
      }
      &.has-label {
        padding-top: 1rem;
        padding-left: 1rem;
        @include bp-min($medium){
          padding-top: 1.75rem;
          padding-left: 1.75rem;
        }
      }
    }
  }
}
