@mixin fa() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: inherit;
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  text-rendering: auto;
  vertical-align: baseline;
}

@mixin fa_em() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: inherit;
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  text-rendering: auto;
  font-size: 1em;
  position: relative;
  top: 0.0625em;
}
