/*--------------------------------------------------------------
### Blockquote
--------------------------------------------------------------*/
blockquote {
  display: inline-block;
  font-family: $font_headings;
  font-size: 1.125em;
	margin: 0.5em 1em 1.5em 1em;
	padding: 0.5rem 0.75rem;
	position: relative;

  @include bp-max($small) {
    padding: 0.75rem;
    margin: 1.5em 0;
  }

  p {
	  margin-bottom: 10px;
  }

	cite,
	small {
		font-size: 75%;
	}

	cite,
	em,
	i {
    font-style: italic;
	}

	cite {
		display: block;
		margin-top: 0.125rem;
		text-align: right;
	}

  > p:last-child {
    margin-bottom: 0;
  }
}

// Blockquotes in comment
.comment-content {
	blockquote {
		line-height: 1.667;
		margin: 12px 0 12px 34px;
		margin: 0.75rem 0 0.75rem 2.125rem;
	}
}
