/*--------------------------------------------------------------
### Block--price
--------------------------------------------------------------*/
.block--price {
  max-width: 200px;
  text-shadow: none;

  .block__title {
    padding: 0.5em 1rem;
    text-align: center;
  }

  .block__price {
    box-shadow: 1px 1px 3px 0 #6c6c6c;
    font-size: 1.75em;
    text-align: center;
    margin: 1rem 2rem;
    text-shadow: none;
    @include bp-min($medium){
      margin: 1rem 2rem;
    }
    @include bp-min($large){
      margin: 2rem;
    }

    &::before {
      @include fa();
      content: "\f153";
      font-size: 0.75em;
      margin-right: 0.5rem;
    }
  }
}
