/*--------------------------------------------------------------
### Block--list
--------------------------------------------------------------*/
.block--list {

  .block__list {

    .block__item {
      padding: 1rem 2rem;
      margin-bottom: $pad * 0.5;

      @include bp-max($medium){
        padding-right: 0.5rem;
        padding-left: 1.5rem;
        font-size: 0.8125em;
      }
      @include bp-min($medium){
        font-size: 0.9375em;
      }
    }

    .block__link--icon {
      @include bp-max($medium){
        text-indent: -0.4375rem;
      }
    }

    
    &.list--icon {
      > .block__item {
        text-indent: -0.4375rem;
      }
    }
  }

}
