/*--------------------------------------------------------------
### Block--review
--------------------------------------------------------------*/
.block--review {

  .block__text {
    font-style: italic;
  }

  .block__footer {
    display: flex;
  }

  .block__link--review {
    &::before {
      @include fa;
      content: "\f007"; // fa-user
      font-size: 28px;
      margin-right: 0.25em;
      transform: scale(-1, 1); // mirror horizontal
      vertical-align: -4px;
    }
  }

 //

  .review__user-info {
    margin-left: auto;
    margin-right: 0;

    p {
      font-size: 0.875em;
    }
    p:last-child {
      margin: 0;
    }

    &.case-link {
      width: calc(100% - 110px);
    }
  }


  .review__case {
    padding-top: 0.125rem;
    margin-left: $pad;

    .btn {
      font-size: 0.75em;
      width: 110px;
    }
  }
}
