/*--------------------------------------------------------------
### Block--side
--------------------------------------------------------------*/
.block--side {

  .block__sticky {
    width: 240px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &.block--index {

    .block__list {

      .block__item {
        font-size: 14px;
        letter-spacing: 0;
      }
    }

    .block__frame {
      margin-bottom: 2rem;
    }
  }

  &.reverse-h {
    .block__sticky {
      flex-direction: column-reverse;
    }
  }

}
