/*--------------------------------------------------------------
## linkpage page template
==============================================================*/
.page-template-linkpage {

  .row--pages {
    padding-top: 0;
  }
}
