/*--------------------------------------------------------------
### Post Header
--------------------------------------------------------------*/
.post-header {
  position: relative;

	/* title comment meta & icon */
	.title-comment-meta {

    a {
      font-size: 0.75em;
      font-weight: normal;
      vertical-align: super;
      white-space: nowrap; /* Do not separate icon from number */
    }

	  a::before {
      @include fa;
	    content: "\f0e5"; /* fa comment icon */
	  	font-size: 16px;
	  	margin-right: 3px;
	  	margin-right: 0.1875rem;
	  	position: relative;
	  	text-decoration: none;
	  	top: 2px;
	  }
	}
}
