/*--------------------------------------------------------------
### Post Featured Image
--------------------------------------------------------------*/
// Image source original: 1920x1080
// Can be pre-cropped for more precise image focus
$f-img__phone-mini: 360px;
$f-img__phone: 360px;
$f-img__tablet: 512px;
$f-img__desktop: 640px;

.post-featured-image {
  width: 100%;

  .wp-post-image {
		margin: 0;
		border-radius: 0;
		box-shadow: none;
		object-fit: cover; // center and crop to size
    max-height: 100%;
    width: 100%;
		/*
		@include bp-max($small) {
			height: $f-img__phone-mini;
			width: $f-img__phone-mini;
		}
		@include bp-min($medium) {
			height: $f-img__tablet;
			width: $f-img__tablet;
		}
		@include bp-min($large) {
			height: $f-img__desktop;
			width: $f-img__desktop;
		}
		*/
	}

	@include bp-max($medium){
		display: flex;

		.wp-post-image {
			margin: 0 auto;
		}
	}
}
