/*--------------------------------------------------------------
## Front-page template
==============================================================*/
.home {

	.page-content {
		> .row:first-child {
			padding-top: 2.5rem;
			padding-bottom: 3rem;
			@include bp-min($medium){
				padding-bottom: 7rem;
			}
		}
	}

	.row--content {
	}

	.row--section {

		> .wrap {
			max-width: 768px;
			@include bp-min($medium){
				background: theme(main, bg-alt);
				padding: 3rem 4rem 3rem 4rem;
			}
		}

		&.has-bg > .wrap {
			@include bp-min($medium){
				background: theme(main, bg);
			}

		}

		&.text-list {

			.block--text {
				margin-bottom: 1rem;
			}
		}

		&.compact {
			&::after {
				@include triangle_after(theme(main));
			}
		}
	}

	// center and size links on landing
	.row--previews--landing {
		.block__link--label {
			font-size: 14px;
			width: 160px;
			text-align: center;
		}
	}


	.page-header {
		min-height: 56vh;
		@include bp-max($medium){
			.block--humanify {
				display: none;
			}
		}
	}
}
