/*--------------------------------------------------------------
### Widget recent entries
--------------------------------------------------------------*/
.widget_recent_entries {

  ul {

    li {
      padding: 0;
      margin-left: 0;

      a {
        padding: 0.375rem 0.375rem 0.375rem 1.375rem ;
        position: relative;

        &:before {
          @include fa();
          content: "\f15c";
          font-size: 0.875rem;
          left: 0.125rem;
          position: absolute;
          top: 0.5rem;
        }
      }
    }
  }

  .post-date {
    font-size: 0.75em;
    padding-left: 1.75rem;
  }
}
