/*--------------------------------------------------------------
## Widgets
==============================================================*/
.widget__title {
  font-size: 1.5em;
	margin-bottom: 0;
	margin-top: 0;
  padding: 0.5rem;
}

.widget {
  // link style
	a {
    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
    }
	}
  ul {
    margin-top: 0.5rem;
  }
	// list item color and style
	li {
		list-style-type: none;
	}
	// nested list margin-left
	ul ul {
		padding-left: 0.5rem;
	}
	// protect select field from overflow
	option,
	select {
		max-width: 100%;
		overflow: hidden;
		width: auto;
	}
}

// post date & rss date

.widget_rss .rss-date {
	font-size: 0.75em;
	margin-left: 0.75rem;
}

// rss widget list item horizontal spread
.widget_rss li {
	margin: 0.5rem 0 0 0;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}
// tag cloud
.widget_tag_cloud {

  .tag-cloud {
    padding: 0.25rem;
  }

  .tag-cloud-link {
    line-height: 1.5rem;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
  }
}
