/*--------------------------------------------------------------
## Post
==============================================================*/
.single {

  .sidebar {
    display: none;
    @include bp-min($medium){
      display: initial;
    }
  }

  .yoast {
    line-height: 2rem;
  }
}
