/*--------------------------------------------------------------
### Post comments response form
--------------------------------------------------------------*/
// Comment reply form
.comment-respond {
  margin-top: 0;
  padding-bottom: 3rem;
  width: 100%;

  .comment-reply-title {
    line-height: 2rem;
  }

  .comment-reply-title #cancel-comment-reply-link {
	  font-size: 0.8125em;
    font-weight: normal;
    margin-left: 0.625rem;
  }

  .comment-form {
	  margin: 0 0 5.5rem 0;

    textarea {
      border-color: theme(main, border);
      box-sizing: border-box;
      width: 100%;
      height: 100px;

      &:active,
      &:hover,
      &:focus {
        border-color: theme(main);
      }
    }

    p {
  		margin: 0;
      padding-top: 1rem;
    }

    .comment-notes {
      border-radius: 3px;
      font-size: 0.75em;
      line-height: 16px;
      padding: 4px 6px;
    }

    .logged-in-as {
      font-size: 0.8125em;
      margin-bottom: 0;
      padding-top: 0.5rem;

      a:nth-child(1) {
        @include button--wired();
      }

      a:nth-child(2) {
        @include button();
      }
    }

  	label {
      display: block;
      font-size: 0.875em;
      line-height: 24px;
      line-height: 1.5rem;
      margin-bottom: 0.25rem;
    }

  	input[type="email"],
    input[type="text"],
    input[type="url"] {
      box-sizing: border-box;
      width: 100%;
    }

    .form-allowed-tags {
      font-size: 0.8125em;
      color: #5e5e5e;
  	  display: none;
  	  line-height: 2;
  	  margin: 0;
    }

    // submit button
  	.form-submit {
      width: 100%;
      clear: right;
      @include bp-max($small){
        clear: both;
        padding-top: 0;
      }
      @include bp-min($medium) {
        clear: left;
      }

  		input[type="submit"] {
        float: right;
        margin-top: 0;
  		}
  	}

    .comment-form-cookies-consent {
      clear: right;
      display: inline-block;
      float: left;
      padding-top: 2rem;
      position: relative;
      width: 59%;
      @include bp-max($small) {
        clear: both;
        float: left;
        padding-top: 2rem;
        width: 100%;
      }
      @include bp-min($medium) {
        float: right;
        padding-top: 3.22rem;
        width: 49%;
      }

      // the checkbox
      input {
        height: 24px;
        padding-top: 3px;
        position: absolute;
        bottom: 12px;
        left: 8px;
        width: 24px;
      }
      // text next to checkbox
      label {
        border: 1px solid;
        border-radius: 3px;
        font-size: 0.75em;
        line-height: 16px;
        padding: 4px 6px 4px 40px;
      }
    }

    .comment-form-comment label {
      display: none;
    }
  } // comment-form

  .required {
  	color: theme(site, alert);
    font-size: 1.25em;
  }

  @include bp-min($medium) {
    .comment-form-author {
      float: left;
      width: 49%;
    }
    .comment-form-email {
      float: right;
      width: 49%;
    }
    .comment-form-url {
      float : left;
      width: 49%;
    }
  }

} //.comment-respond
