/*--------------------------------------------------------------
### Post Meta
--------------------------------------------------------------*/
.post-meta {
	margin: 0;
}

.post-date {
	line-height: inherit;

	+ .updated {
		font-size: 0.85714em;
		margin-left: 0.5rem;
	}

	&.updated,
	&.published {

		&::before {
			@include fa();
			font-size: 1em;
			content: "\f073";
			padding-right: 0.375rem;
			vertical-align: 1px;
			width: 20px;
		}
	}

}


// setup icons
.post-author {
	display: inline-block;
	line-height: inherit;
	white-space: nowrap; // Do not separate icon from number

	&::before {
		@include fa();
		content: "\f007"; // fa-user
		font-size: 1rem;
		padding-left: 1px;
		position: relative;
		text-align: left;
		padding-right: 0.25rem;
		width: 20px;
	}
}

.comments-link {
	display: inline-block;
	line-height: inherit;
	white-space: nowrap; // Do not separate icon from number

	a::before {
		@include fa();
		content: "\f075";
		font-size: 0.875em;
		position: relative;
		text-align: left;
		padding-right: 0.25rem;
		width: 20px;
	}
}
