/*--------------------------------------------------------------
### Navigation for Posts
--------------------------------------------------------------*/
// .post-navigation, .nav-previous and .nav-next - prev/next post navigation
// .nav-links is for post, archive and comment navigations.

.post-navigation {
}

// Post, archive and comment navigations
.row--postnav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @include bp-min($medium) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.nav-links {
  font-size: 1em;
  line-height: 28px;
	line-height: 1.75rem;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  @include bp-min($medium) {
    .block__linktext {
      font-size: 18px;
    }
  }

  a {
    display: block;
    padding: 0.25rem 0;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(34, 107, 160, 1);
    @include bp-min($medium) {
      padding: 0.5rem 0;
    }
  }

}

.nav-links__thumb {

  .block__img {
    display: inline-block;
    height: 40px;
    width: 40px;
  }

  .block__linktext {
    font-size: 16px;
    margin: 0 0.5rem;
  }
}

.nav-previous {
  display: inline-block;
  margin-bottom: 0.5rem;
  vertical-align: top;
  width: 100%;
  @include bp-min($medium) {
    margin-bottom: 0;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::before {
      @include fa;
      content: "\f053"; // fa-chevron-left
      font-size: 1.25rem;
      position: absolute;
      left: -1.5rem;
      vertical-align: -2px;
    }
  }
}

.nav-next {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &::after {
      @include fa;
      content: "\f054"; // fa-chevron-right
      font-size: 1.25rem;
      position: absolute;
      right: -1.5rem;
      vertical-align: -2px;
    }
  }
}
