/*--------------------------------------------------------------
## Row
==============================================================*/
.row {
  padding-top: $height_pad_s;
  padding-bottom: $height_pad_s - ($gridspace);
  position: relative;
  @include bp-min($medium) {
    padding-top: $height_pad_m;
    padding-bottom: $height_pad_m - ($gridspace * 1.5);
  }
  @include bp-min($large) {
    padding-top: $height_pad_l;
    padding-bottom: $height_pad_l - ($gridspace * 1.5);
  }

  & .row {
    padding: 0;
  }

  &.parallax,
  &.no-grid {
    padding-top: $height_pad_s;
    padding-bottom: $height_pad_s;
    @include bp-min($medium) {
      padding-top: $height_pad_m + 2rem;
      padding-bottom: $height_pad_m + 2rem;
    }
    @include bp-min($large) {
      padding-top: $height_pad_l + 2rem;
      padding-bottom: $height_pad_l + 2rem;
    }
  }

  &.compact {
    padding-top: $text_spacing * 1.5;
    padding-bottom: 0;
  }

  &.bg-img {
    background-position: top;
    background-size: cover;
  }

  &.parallax {
    @include bp-min(1025) {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .grid > .block {
        margin-bottom: 0;
      }
    }
  }

  &.has-img.parallax {
    @include bp-max(1025){
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @include bp-max(1024){
      background-image: unset !important;
    }

  }

}


.grid {

  > .row__text,
  > .row__title {
    margin: 0 $gridspace 2rem $gridspace;
  }

}

.block {
  > .row {
    width: 100%;
  }
}
