/*--------------------------------------------------------------
## Row-padding
==============================================================*/
.single {
  .row--content {
    padding-top: 2rem;
    padding-bottom: 0;
  }
}

.single-post_learn {
  .row--content {
    padding-top: 0;
  }
}

.row--form {
  .grid {
    padding-top: 0.5rem;
  }
}


.row--previews--learn {
  padding-top: $gridspace_prev * 1.5;
}

.row--previews--landing {
  padding-top: $height_pad_m - 1rem;
  padding-bottom: $height_pad_m - 3rem;
  @include bp-min($large) {
    padding-top: $height_pad_l - 1rem;
    padding-bottom: $height_pad_l - 3rem;
  }
}

.row--previews--rel {
  padding-top: $height_pad_s * 0.5;
  @include bp-min($medium){
    padding-top: $height_pad_m * 0.5;
  }
  @include bp-min($large){
    padding-top: $height_pad_l * 0.5;
  }
}

.row--post--side,
.row--gallery,
.row--contact {
  padding-top: $height_pad_s * 0.75;
  @include bp-min($medium){
    padding-top: $height_pad_m * 0.75;
  }
  @include bp-min($large){
    padding-top: $height_pad_l * 0.75;
  }
}

.row--contact.map {
  padding: 0;
}

.row--meta {
  padding-top: $text_spacing;
}


.row--portfolio__images {
  padding-top: $text-spacing;
  padding-bottom: 3rem;
}

.archive {
  .row--portfolio {
    padding-top: $text-spacing;
  }
}

.post-type-archive-werkwijze {
  .row--previews {
    padding-top: 0;
  }
}
