/*--------------------------------------------------------------
## Theme - sections
--------------------------------------------------------------*/
.row--section {

  &.has-bg {
    background: theme(main, bg);
  }
}
