/*--------------------------------------------------------------
## Theme - rows
--------------------------------------------------------------*/
.row {

  &.no-bg {
    background: none;
  }
  // white alternative bg
  &.has-bg {
    background: theme(main, bg-alt);
  }
}

.row__title {
  color: theme(main, titles);
}

.row--bar {
  background: theme(main, bg-alt);
}

// pages
.row--contact {

  &.company {
    background: theme(main, bg-alt);
  }
}
