/*--------------------------------------------------------------
## Block-body
==============================================================*/
.block-body {
	word-break: normal;
  word-wrap: break-word;
  user-select: none;

	.block {

		p {
			margin: 0 0 1rem 0;
		}

	}

}
