/*--------------------------------------------------------------
## About template
==============================================================*/
.page-template-page-about {

  .row.text_text_text {

    .preview {

      .block__link {
        @include bp-min($medium){
          font-size: 13px;
        }
        @include bp-min($large){
          font-size: 15px;
        }
      }

      .block__title {
        font-size: 1.375em;
      }
    }
  }
}
