/*--------------------------------------------------------------
### Block--meta
--------------------------------------------------------------*/
.block--meta {

  .block--author {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.block--meta--bot {

  .block__meta--pub,
  .block__meta--author {
    margin-top: $text_spacing;
  }

  .block__title {
    margin-top: $text_spacing;
    border-bottom: 1px solid clr(grey, dark);
  }

}
