/*--------------------------------------------------------------
### Block--archive
--------------------------------------------------------------*/
.block--archive {
  padding: 2em;
  background: theme(main, bg-alt);

  > .block__text h3 {
    color: theme(main);
  }
}

.has-bg {
  .block--archive {
    background: theme(main, bg);
  }
}
