/*--------------------------------------------------------------
### Block--index
--------------------------------------------------------------*/
.grid > .block--index {
  flex-direction: row;
}

.block--index {


  .block__frame {
    padding: 0.75rem 0.375rem;
  }

  .block__item {
    padding-left: 0.5rem;
  }

  .block__title {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .block__list {

    .block__item {
      margin-bottom: 0.25em;
    }
    .block__link {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      width: 100%;
    }
  }

  &.block--side {
    @include bp-max($medium){
      display: none;
    }
    // flip icons

    .block__item > a::before {
      content: "\f0d9";
      left: -1px;
    }
  }
}

.block--index--top {

  .block__list {
    display: inline-block;

    .block__item {
      background: linear-gradient(to right, theme(main, bg), theme(main, bg-alt));
      padding-left: 0.75rem;

      &:active,
      &:hover {
        background: theme(main, bg);
      }
    }

    .block__link {
      padding-right: 1rem;

      &::before {
        @include trans(0.1, transform);
        transform-origin: -5px 9px;
      }
      &:hover,
      &:active {

        &::before {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.block--index--side {
  @include bp-max($medium){
    display: none;
  }
}
