/*--------------------------------------------------------------
### Block--humanify
--------------------------------------------------------------*/
.block--humanify {
  display: flex;
  flex-wrap: nowrap;
  margin-top: auto;

  .block__img {
    text-align: left;
    @include bp-min($medium){
      text-align: right;
    }
  }

  .block__author {
    margin-top: 1rem;

    p {
      text-align: left;
      @include bp-min($medium){
        text-align: right;
      }
    }

    .name {
      margin-bottom: 0.25rem;
    }
  }

  .block__link.email {
    color: theme(main, text);
    font-size: 13px;
    padding: 0.25em .5em;
    background: theme(main, bg);
    vertical-align: 1px;
    margin-left: 0.5em;
    &:active,
    &:hover {
      color: theme(main, link-h);
    }
  }
}


// bottom of post
.block--meta--bot {

  .block--humanify {
    flex-direction: row;
    margin: 0;

    .block__author {

      p {
        @include bp-min($medium){
          text-align: left;
        }
      }
    }

    .block__img {
      @include bp-min($medium){
        text-align: left;
      }
    }

    .block__img--circle {
      padding-right: 10px;
      width: auto;
    }
  }
}
