/*--------------------------------------------------------------
### Block--footer--bot
--------------------------------------------------------------*/
.block--footer--bot {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 11px;
}
