/*--------------------------------------------------------------
### Block--form
--------------------------------------------------------------*/
.block--form {
  margin-bottom: 0;

  // under submit button
  p {
    margin: 0;
  }
}

.grid > .block--form {
  flex-direction: column;
}
