/*--------------------------------------------------------------
### Block--map
--------------------------------------------------------------*/
.block--map {
  padding: 0;
  width: 100%;

  .block__map {
    height: 200px;
    margin: 0;
    width: 100%;
    @include bp-min($medium) {
      height: 400px;
    }
  }
}
