/*--------------------------------------------------------------
## Button-group
==============================================================*/
.button-group {

  .btn {
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    &.is-checked {
      background: theme(main, btn-a);
      border-bottom-color: theme(main, btn-a);
    }

    .button-label::after {
      @include fa();
      content: "\f178";
      margin: 0 0.5rem;
      color: theme(main, alt);
    }

    &:active {
      .button-label::after {
        color: theme(main, alt);
      }
    }

  }


  &.fill {
    display: inline-block;
    width: auto;

    .btn {
      width: 100%;
      max-width: 300px;
    }
  }

  &.big {
    .btn {
      padding: 0.5rem 1rem;
    }
  }
}

.button-group--vert {

  .btn {
    display: block;
    text-align: left;
    width: 100%;
    @include bp-min($medium) {
      max-width: 300px;
    }
  }
}


.button-group--iso {
  margin-bottom: 2rem;

  .btn {
    font-size: 0.875em;
    @include bp-min($medium) {
      padding: 0.375rem 1.25rem;
    }
  }
}


.button-group-label {
  font-size: 0.75em;
  opacity: 0.65;
  line-height: 1rem;
}

.style-2,
.style-1 {

  // with colored bg, it needs spacing from edge
  .button-group--iso {
    padding-top: 1rem;
  }
}
