/*--------------------------------------------------------------
## Row
==============================================================*/
.row {
  padding-top: $height_pad_s;
  padding-bottom: $height_pad_s - ($gridspace);
  position: relative;
  @include bp-min($medium) {
    padding-top: $height_pad_m;
    padding-bottom: $height_pad_m - ($gridspace * 1.5);
  }

  & .row {
    padding: 0;
  }

  &.no-grid {
    padding-top: $height_pad_s;
    padding-bottom: $height_pad_s;
    @include bp-min($medium) {
      padding-top: $height_pad_m;
      padding-bottom: $height_pad_m;
    }
  }
}


.grid {

  > .row__text,
  > .row__title {
    margin: 0 $gridspace 2rem $gridspace;
  }

}
