/*--------------------------------------------------------------
## Row-padding
==============================================================*/
.single-post {

  .row--content {
    padding-top: 2rem;
    padding-bottom: 0;
  }
}

.row--form {

  .grid {
    padding-top: 0.5rem;
  }
}

.row--contact {
  padding-top: $height_pad_s - 2rem;

  @include bp-min($medium){
    padding-top: $height_pad_m - 2rem;
  }

  &.map {
    padding: 0;
  }
}
