/*--------------------------------------------------------------
## Footer
==============================================================*/
.site-footer {
  border: none;
	margin: 0 auto;
  position: relative;
  padding-top: $gridspace;

  @include bp-min($medium){
    padding-top: $gridspace * 2;
  }

  .block--footer {
    li {
      @include bp-max($large){
        font-size: 15px;
      }
    }
  }
}


.footer--bottom {
  font-family: $font_site_info;

  .grid {
    flex-wrap: nowrap;

    > .block {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      font-size: 0.75em;;
      width: auto;
    }
  }

  ul > li {
    font-size: 1em;
    &.has-link {
      z-index: 2;
    }
  }


}
