/*--------------------------------------------------------------
### Footer__float
--------------------------------------------------------------*/
$icon_size: 26px;
$icon_size_l: 32px;

.footer--float {
  display: block;
  overflow: hidden;
  // fixed
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  .icon--float {
    position: absolute;
    right: 0;
    bottom: 0.25rem;
    padding: 0.375rem 1rem 0.375rem 0.625rem;

    &:before {
      @include fa_em();
      content: "\f0d8"; // chevron-up f077
      padding-right: 0.375rem;
    }
  }

  // bar is visible
  &.visible {

    .block--float {
      transform: translateY(0);
    }
  }

  // bar reached end of doc
  &.at-bottom {
  }


  .block--float {
    @include trans-ea( 0.5, opacity, transform);
    margin-bottom: 0;
    transform: translateY(100px);
    position: relative;
    font-size: 13px;
    height: 32px;
    @include bp-max($small){
      height: 31px;
    }
  }
}
