/*--------------------------------------------------------------
### block__map
--------------------------------------------------------------*/
.block__map {
  display: block;
  height: 100%;
  width: 100%;

  button {
    font-size: 0.625rem;
  }

  // remove walker
  .gm-svpc {
    display: none;
  }

  // remove map style
  .gm-style-mtc {
    display: none;
  }

  // remove bottom links
  .gm-style-cc {
    display: none;
  }
}
