/*--------------------------------------------------------------
### block__img--slider
--------------------------------------------------------------*/
.block__img--slider {

  .swiper-slide {

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
