/*--------------------------------------------------------------
### Header--site
--------------------------------------------------------------*/
.header--main {
	display: flex;
	flex-wrap: wrap;

	.header--left {
		margin-left: 0;
		margin-right: auto;
		@include bp-max($medium){
			width: 100%;
		}
	}
	.header--right {
		margin-left: auto;
		margin-right: 0;
		@include bp-max($medium){
			width: 100%;
		}
	}
}

.is-toggled {

	.header--main {

		.header--left {
			position: absolute;
			left: 0;
		}

		.search-container-mobile {
			@include bp-max($medium){
				display: none;
			}
		}
	}


}
