/*--------------------------------------------------------------
## Theme - site
--------------------------------------------------------------*/
.menu {

  .menu__anchor {
		padding: 0 0.5rem;
    @include bp-min($medium){
      padding: 0 0.75rem;
    }
    @include bp-min($large){
      padding: 0 1.125rem;
    }
  }

  .menu__sub-menu {
    @include bp-min($medium){
      box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.3);
    }

    .menu__anchor {
      @include bp-min($medium){
        background: theme(submenu, bg);
        color: theme(submenu, link);

        &:focus,
        &:hover {
          background: theme(submenu, link-h);
          color: theme(submenu, bg);
        }
        &:active {
          background: theme(submenu, link-a);
          color: theme(submenu, bg);
        }
      }
    }
  }

}

.nav--main {
  @include bp-min($medium){
    color: theme(menu, link);
  }

  .menu-toggle {
    background: none;
    border: 1px solid transparent;
    color: theme(menu, link);

    &:focus,
    &:hover {
      color: theme(menu, link-h);
      outline: 0;
    }
  }


  .menu__anchor {
    @include bp-min($medium){
      color: inherit;
      font-weight: 500;

      &:focus,
      &:hover,
      &:active {
        color: theme(menu, link-h);
        text-decoration: underline;
        text-decoration-color: $c_primary_grey_2;
      }

    }

    &.is-top-level {

      &:focus,
      &:hover {
        background: linear-gradient( to bottom, rgba(3,3,3,0), theme(menu, bg-alt));
      }
    }
  }

  .is-active,
  .is-menu-ancestor.is-top-level {
    color: theme(menu, mark);
    text-decoration: underline;
    text-decoration-color: $c_primary_grey_2;
  }

  .is-top-level.menu__anchor.is-page-ancestor,
  .is-top-level.menu__anchor.is-menu-ancestor,
  .is-top-level.menu__anchor.is-active {
    background: theme(menu, bg-alt);
  }

  .has-children {

    > .menu__anchor {

      &::after {
        color: theme(submenu, link);
      }

      &:focus,
      &:hover,
      &:active {
        &:after {
          color: theme(menu, link-h);
        }
      }

      &.is-menu-ancestor,
      &.is-active {
        &:after {
          color: theme(menu, mark);
        }
      }
    }

    > .is-top-level {

      &::after {
        color: theme(menu, link);
      }
    }
  }


  // toggled mobile menu -----------------------/
  &.is-toggled {
    background-color: theme(mobmenu, bg);
    color: theme(mobmenu, link);

    .menu-toggle {
      border-color: theme(mobmenu, bg);
      color: theme(mobmenu, link);
    }

    .menu--main {

      // mark current main--menu item
      > .is-active > .menu__anchor {
        background: theme(mobmenu, mark);
        color: theme(mobmenu, bg-alt);
      }

      .menu__anchor {

        &:focus,
        &:active {
          background: theme(mobmenu, bg-alt);
          color: theme(mobmenu, link-a);
        }
      }
      // mark current ancestor
      .is-active,
      .is-menu-ancestor.is-active {
        color: theme(mobmenu, link-h);
        text-decoration: underline;
        text-decoration-color: $c_primary_grey_2;
      }
      .is-menu-ancestor.is-top-level {
        background: theme(menu, bg-alt);

        + .menu__sub-menu {
          background: theme(menu, bg-alt);
        }
      }
    }
  }
}

.header--site__compact {
  .nav--main {
    .menu__anchor {
      @include bp-min($medium){

        &.is-menu-ancestor,
        &.is-top-level {
          background: theme(header, bg-alt);

          &:focus,
          &:hover {
            background: linear-gradient( to bottom, rgba(clr(black),0 ), rgba(clr(black, dark), 1));
          }
        }
      }
    }
  }
}
