/*--------------------------------------------------------------
## Theme - header
--------------------------------------------------------------*/
.header--site {
  background: theme(header, bg-alt);
  @include bp-min($medium){
    background: theme(header, bg);
  }
  &__compact {
    background: theme(header, bg-alt);

    .header--main {
      box-shadow: 0 3px 10px -6px rgba(0, 0, 0, 0.2);
    }

    .nav--main {
      .is-top-level.menu__anchor.is-active {
        background: theme(header, base);
      }
    }
  }
}

.header--top {
  background: theme(header, bg);
  color: theme(header, text);
}

.site-title {
  font-style: $font_headings;
  color: theme(main);
}
.site-description {
  color: theme(main, alt);
}
