/*--------------------------------------------------------------
## Theme - previews
--------------------------------------------------------------*/
.preview {

  .block__link--label {
    background: theme(main, link);
    color: theme(main, bg-alt);

    &::before {
      border-bottom-color: theme(main, border);
    }
  }

  .block__link--label-alt {
    background: theme(style-1, alt);
    color: theme(style-1, text);

    &::before {
      border-bottom-color: theme(style-1, border);
    }
  }
}


.preview--page {
  background: theme(main, bg-alt);
  box-shadow: -2px -2px 4px -2px rgba(3, 3, 3, 0.1);
}


.preview--post {
  background: theme(main, bg-alt);
  box-shadow: -2px -2px 4px -2px rgba(3, 3, 3, 0.1);

  &__rel {
    background: unset;
    box-shadow: unset;

    .block__text p {
      border-left: 1px solid theme(main);
      color: theme(main, text);
    }

    .block__title {
      &:after {
        @include fa_em();
        content: "\f178";
        padding: 0;
        opacity: 0;
        transform: translateZ(0);
        @include trans-vp(0.2, transform, opacity);
      }
    }
  }
  &.clickable {
    &:hover {
      .block__title::after {
        opacity: 1;
        transform: translateX(0.25em);
      }
    }
  }
}

.preview--search {
  background: theme(main, bg);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-left: 16px solid theme(main);

  &:hover {
    border-color: theme(main, alt);
  }

  &:active {
    border-color: theme(main, alt);
  }
}

.preview--page--icon {
  background: theme(main, bg);
  padding: $pad;

  .block__img {
    opacity: 0.85;
  }

  &:hover {

    .block__img {
      filter: $filter_secondary;
      opacity: 1;
    }

  }

  &:active {

    .block__img {
      filter: $filter_primary;
      opacity: 1;
    }
  }
}

.preview--portfolio {

  .block__img img,
  .block__btn {
    box-shadow: $box_shadow_theme;
    &:active {
      box-shadow: none;
    }
  }

  &__mini {
    background: theme(main, grey);
    padding: $pad;
  }
}
