/*--------------------------------------------------------------
## Theme - pages
--------------------------------------------------------------*/
.page {

  .page-header {
  }

  // with background image
  .page-header--bg {
  }
}
