/*--------------------------------------------------------------
## Theme - components
--------------------------------------------------------------*/
.breadcrumbs {
  color: theme(main, link);

  a {
    color: theme(main, link);

    &:hover {
      color: theme(main, link-h);
    }
    &:active {
      color: theme(main, link-a);
    }
  }
}
