/*--------------------------------------------------------------
## Theme - blocks
--------------------------------------------------------------*/
.block {

  &.no-bg {
    background: none;
  }
  // white alternative bg
  .has-bg {
    background: theme(main, bg-alt);
  }
}

.block__title--icon {
  &:before {
    color: theme(main, icon);
  }
}

.block__meta {
  .date {
    color: theme(main, text);
  }
  .date--square {
    background: theme(main, base);
    color: theme(main, white);
  }
}

.table {

	thead,
	thead tr {
		background-color: theme(main);
		color: theme(main, white);
	}
}

.table--margin {

	td, tr, th {
		border-color: theme(site, body);
	}
	tbody {
		td, tr {
			background: theme(site, body);
		}
	}
	thead,
	thead tr {
		background-color: theme(main);
		color: theme(main, white);
	}
}


// specific blocks
.block--collapser {

  .block__title {
    border-bottom-color: clr(grey, darker);

    &::after {
      color: clr(grey, darkest);
    }

    &:hover {
      border-bottom-color: theme(main, icon);
      &::after {
        color: theme(main, icon);
      }
    }
  }

  .toggled {

    .block__title {
      &::after {
        color: theme(main, icon);
      }
    }
  }
}

.block--panel {
  background: theme(main, white);
}


.block--list {

  .block__item {
    background: theme(main, grey);
    &::before {
      color: theme(main, icon);
    }
  }
}
.has-bg {
  .block--list .block__item {
    background: clr(grey, darker);
  }
}

.block--index {

  .block__frame {
    background: theme(main, grey);
  }
  .block__title {
    color: theme(main);
  }
}


.block--review {
  border: 1px solid theme(main);
  border-radius: $pad;
  padding: 2 * $pad;
}
