/*--------------------------------------------------------------
## Theme - posts
--------------------------------------------------------------*/
.single-post {

  .site-container {
    background: theme(main, bg);
  }
}

.date {
  color: theme(main, text);

  .post-date {
    color: inherit;
    &::before {
    }
  }
}

.nav-links a {

  &::before,
  &::after {
    color: theme(main, icon);
  }

  @include bp-min($medium){

    &:hover {
      &::before,
      &::after {
        color: theme(main, link-h);
      }
    }
  }
}

.single-portfolio {

  .row--gallery,
  .row--portfolio__images {
    background: theme(style-1, bg);
  }
}

.single-post_learn,
.single-post_docs {
}
