/*--------------------------------------------------------------
### Media Captions
--------------------------------------------------------------*/
.entry-caption,
.gallery-caption,
.wp-caption-text {
	font-size: 0.75em;
	font-style: italic;
	line-height: $lh_body;
	padding: 8px;
	padding: 0.5rem;
	text-align: center;
}

.entry-body,
.section-body {

	.wp-caption-text {
		font-size: 0.75em;
	}
}

.featherlight .featherlight-content .caption {
	white-space: normal !important;
}
