// lighten/darken vars
$light: 10;
$lighter: 15;
$dark: 10;
$darker: 15;

$palette: (
  primary: (
    base: #206697, // #aa2c8e, //#813670, //#8f406e
    light: #3473A0,
    lightest: #c3dced,
    dark: #1A5682,
    darker: #164A70,
    darkish: #1d608f,
  ),
  secondary: (
    base: #1D8B5D, //#184C5B,//#3a6669,
    light: lighten(#1D8B5D, $light), //#488184,
    dark: darken(#1D8B5D, $dark),//#2b4d4f,
  ),
  tertiary: (
    base: #F4643D,
    light: lighten(#F4643D, $light), //#488184,
    dark: darken(#F4643D, $dark),//#2b4d4f,
    white-1: #fff8ef, //#ffebcd,
    white-2: #fff2df,
  ),
  white: (
    base: #fff,
    flash: #f1f2f4,
    theme: #f6f6f6,
  ),
  grey: (
    base: #E7E7E7,
    light: #EEEEEE,
    dark: #E3E3E3,
    darker: #D6D6D6,
    darkest: #c6c6c6,
    text: #757575,
    white: #f1f4f5,
    black: #757575,
  ),
  black: (
    base: #0f0c1c,
    light: #222,
    dark: #111,
  ),
);

@function clr($base, $shade: base) {
  $color: map-get(map-get($palette, $base), $shade);
  @return $color;
}


// filter black to pink
$filter_primary: invert(.4) sepia(.7) hue-rotate(100deg) saturate(350%);
// filter black to green
$filter_secondary: lighten(saturate(adjust-hue(#222222, 13), 89.27), 46.47);
// filter black to white
$filter_white: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);

$c_primary_grey: #316c93;
$c_primary_grey_2: #558db3;
