// logo in header
$logo_s: 32px;
$logo_m: 60px;
// compact header
$logo_s_c: $logo_s;
$logo_m_c: 42px;

// block__thumb
$block__img-s: 100px;
$block__img-m: 140px;
$block__img-l: 160px;

// icon img
$img_icon_s: 60px;
$img_icon_m: 80px;

// block__img--circle
$img-circle-s: 75px;
$img-circle-m: 80px;
$img-circle-l: 90px;

// row--section (block__img)
$section_img_m: 400px;
$section_img_d: 540px;
