/*--------------------------------------------------------------
## Theme - site
--------------------------------------------------------------*/
.menu {

  .menu__anchor {
		padding: 0 0.5rem;
    @include bp-min($large){
      padding: 0 0.75rem;
    }
  }

  .menu__sub-menu {

    .menu__anchor {
      @include bp-min($medium){
        background: theme(submenu, bg);
        color: theme(submenu, link);

        &:focus,
        &:hover {
          background: theme(submenu, link-h);
          color: theme(submenu, bg);
        }
        &:active {
          background: theme(submenu, link-a);
          color: theme(submenu, bg);
        }
      }
    }
  }

}

.nav--main {
  @include bp-min($medium){
    color: theme(menu, link);
  }


  .menu-toggle {
    background: none;
    border: 1px solid theme(header, bg);
    color: theme(menu, link);

    &:focus,
    &:hover {
      color: theme(menu, link-h);
      outline: 0;
    }
  }


  .menu__anchor {
    @include bp-min($medium){
      color: inherit;
      font-weight: 500;

      &:focus,
      &:hover {
        color: theme(menu, link-h);
      }
      &:active {
        color: theme(menu, link-a);
      }
    }
  }

  .is-active,
  .is-page-ancestor,
  .is-menu-ancestor,
  .is-menu-ancestor.is-top-level {
    color: theme(menu, mark);
  }

  .has-children {

    > .menu__anchor {

      &::after {
        color: theme(menu, link);
      }

      .menu__anchor {

        &::after {
          color: theme(submenu, link);
        }
      }

      &:focus,
      &:hover,
      &:active {
        &:after {
          color: theme(menu, link-h);
        }
      }

      &.is-menu-ancestor,
      &.is-active {
        &:after {
          color: theme(menu, mark);
        }
      }
    }
  }


  // toggled mobile menu -----------------------/
  &.is-toggled {
    background-color: theme(mobmenu, bg);
    color: theme(mobmenu, link);

    .menu-toggle {
      color: theme(mobmenu, link);
    }

    .menu--main {

      // mark current main--menu item
      > .is-active > .menu__anchor {
        background: theme(mobmenu, mark);
        color: theme(mobmenu, bg);
      }

      .menu__anchor {
        background: theme(header, bg-alt);
        text-decoration: underline theme(mobmenu, mark);

        &:focus,
        &:active {
          background: theme(mobmenu, link-h);
          color: theme(mobmenu, bg);
        }
      }
      // mark current ancestor
      .is-active,
      .is-menu-ancestor.is-active {
        color: theme(mobmenu, link-h);
      }
      .is-menu-ancestor.is-top-level {
        background: rgba(theme(mobmenu, bg-alt), 0.5);

        + .menu__sub-menu {
          background: rgba(theme(mobmenu, bg-alt), 0.5);
        }
      }
    }
  }
}
