/*--------------------------------------------------------------
### Post title
--------------------------------------------------------------*/
.post-title {
  margin: 0;
  padding: 1.25rem 0;
  font-size: 36px;
	line-height: 1.2;
	@include bp-min($medium){
		font-size: 52px;
    line-height: 1.1;
	}
	@include bp-min($large){
		font-size: 64px;
    line-height: 1.2;
	}

  a {
    text-decoration: none;
  }
}
