/**
  * Description: Used to style the admin area.
  * Theme Name: Hum-base-v6
  *
  */
/*--------------------------------------------------------------
## admin colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Admin styles
==============================================================*/
.dashicons-admin-generic:before:hover {
  -webkit-text-decoration: auto;
          text-decoration: auto; }

#postbox-container-2,
#post-body-content {
  max-width: 1300px; }

body {
  background: #eee; }

/* after title excerpt , remove helptext */
#hum_core_postexcerpt {
  margin-top: 14px;
  margin-bottom: 30px; }

#hum_core_postexcerpt .inside p {
  display: none; }

#wp-content-editor-tools {
  padding-top: 10px; }

td#wp-word-count {
  font-size: 16px;
  padding-left: 2px; }

#wp_featherlight_options {
  display: none; }

.php-error #adminmenuback,
.php-error #adminmenuwrap {
  margin-top: 0; }

.handle-order-higher,
.handle-order-lower {
  display: none; }

/*--------------------------------------------------------------
## wp-admin layout
--------------------------------------------------------------*/
.postbox {
  background: #fff;
  border: none;
  border-radius: 0 0 4px 0;
  box-shadow: 1px 1px 4px rgba(1, 1, 1, 0.2);
  margin-bottom: 40px; }
  .postbox .postbox-header {
    background: #23282d; }
    .postbox .postbox-header .hndle {
      font-size: 15px;
      color: #fff; }
    .postbox .postbox-header .toggle-indicator {
      color: #fff; }
  .postbox .inside {
    padding-top: 10px; }
  .postbox.acf-postbox {
    margin-bottom: 40px; }
  .postbox #major-publishing-actions {
    border-radius: 0 0 4px 0; }

#dashboard_quick_press {
  padding-bottom: 1px; }

/*--------------------------------------------------------------
## wp-admin columns
--------------------------------------------------------------*/
.fixed .column-img {
  width: 20px; }
  @media (min-width: 850px) {
    .fixed .column-img {
      width: 100px; } }
  .fixed .column-img img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 18px;
    width: 24px; }
    @media (min-width: 850px) {
      .fixed .column-img img {
        height: 80px;
        width: 100px; } }

.fixed .column-date {
  width: 13%; }

.fixed .column-author {
  width: 10%; }

.fixed .column-title {
  width: 20%; }

.fixed .column-page-templates {
  width: 10%; }

/*--------------------------------------------------------------
## wp-admin postbox
--------------------------------------------------------------*/
.postbox .inside {
  background: #fafafa; }

.postbox.seamless > .inside {
  background: #eee; }

.postbox .wpseo-metabox-menu {
  background: #fafafa; }

.js .postbox .hndle {
  cursor: pointer; }

/*--------------------------------------------------------------
## ACF admin styles
==============================================================*/
/* make link box smaller */
.acf-link .block__link-wrap {
  padding: 0; }

/* background grey */
.acf-table > tbody > tr > td {
  background: #fff; }

/* make true/false switch smaller */
.acf-switch {
  height: 26px; }

.acf-switch span {
  line-height: 18px;
  padding: 4px 8px;
  font-size: 12px; }

/* row buttons align */
.acf-actions {
  border: 1px dashed #dfdfdf;
  border-radius: 3px;
  padding: 4px;
  margin-top: 20px; }

.acf-admin-field-groups .wp-list-table .post-state {
  color: #b3b3b3;
  font-size: 10px; }

/* Media query - Tablet  -------------------------------------*/
@media screen and (min-width: 850px) {
  .acf-admin-field-groups .wp-list-table .column-title {
    width: 25%; }
  .acf-admin-field-groups .wp-list-table .column-acf-count {
    width: 8%; }
  .acf-admin-field-groups .wp-list-table .column-acf-json {
    width: 8%; }
  .acf-admin-field-groups .wp-list-table .column-menu_order {
    width: 8%; } }

/*--------------------------------------------------------------
## ACF fields
--------------------------------------------------------------*/
.acf-input .acf-field .acf-label label {
  font-size: 12px; }

.acf-fields {
  /* message fields */ }
  .acf-fields .acf-field-message {
    font-size: 12px; }
  .acf-fields p.description {
    font-size: 12px; }
  .acf-fields .acf-image-uploader p {
    font-size: 12px; }
    .acf-fields .acf-image-uploader p .acf-button {
      margin-top: 6px; }

.acf-input .acf-switch + .message {
  display: inline-block;
  font-size: 12px;
  vertical-align: -2px; }

.acf-tab-wrap.-left .acf-tab-group,
.acf-fields.-sidebar:before {
  width: 16%; }

.acf-fields.-sidebar {
  padding-left: 16% !important; }

.acf-fields .acf-tab-wrap .acf-tab-group li.active .acf-tab-button {
  box-shadow: -1px 1px 2px rgba(1, 1, 1, 0.1); }

/*--------------------------------------------------------------
## ACF row
--------------------------------------------------------------*/
.inside.acf-fields {
  color: #444; }
  .inside.acf-fields:not(.-left) > .acf-field {
    padding: 20px 24px; }
    .inside.acf-fields:not(.-left) > .acf-field > .acf-label label {
      font-size: 12px; }
  .inside.acf-fields > .acf-field-group .acf-tab-group li.active .acf-tab-button {
    box-shadow: -1px 1px 2px rgba(1, 1, 1, 0.1); }
  .inside.acf-fields > .acf-field-group .-sidebar > .acf-field {
    padding: 20px 24px; }
  .inside.acf-fields .acf-field-repeater .acf-table .acf-row-handle {
    border-bottom: 8px solid #f9f9f9;
    border-top: 8px solid #f9f9f9; }
  .inside.acf-fields .acf-field-repeater .acf-table .acf-row-handle.order {
    border-top-color: #f4f4f4;
    border-bottom-color: #f4f4f4; }
  .inside.acf-fields .acf-field-repeater .acf-table .acf-fields {
    border-bottom: 8px solid #f9f9f9;
    border-top: 8px solid #f9f9f9; }
  .inside.acf-fields .acf-field-flexible-content .layout {
    box-shadow: 0px 1px 5px -1px rgba(3, 3, 3, 0.25);
    border: none;
    margin: 20px 0 0; }
    .inside.acf-fields .acf-field-flexible-content .layout:first-child {
      margin-top: 0; }
    .inside.acf-fields .acf-field-flexible-content .layout .acf-fc-layout-order {
      background: #444;
      color: #fff; }
    .inside.acf-fields .acf-field-flexible-content .layout .-sidebar > .acf-field {
      padding: 20px 24px; }
    .inside.acf-fields .acf-field-flexible-content .layout > .acf-fields .acf-field-group {
      padding: 20px 24px;
      background: #fafafa; }
      .inside.acf-fields .acf-field-flexible-content .layout > .acf-fields .acf-field-group > .acf-label label {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #444; }
    .inside.acf-fields .acf-field-flexible-content .layout > .acf-fields .acf-field-tab + .acf-field-group {
      background: linear-gradient(to right, white, rgba(250, 250, 250, 0.5) 7%, #fafafa); }
  .inside.acf-fields .acf-field-flexible-content .layout.-collapsed:hover .acf-fc-layout-order {
    background: #444; }
  .inside.acf-fields .acf-field-flexible-content .layout.-collapsed .acf-fc-layout-order {
    background: #646464;
    color: #fff; }

.inside.acf-fields.-top .acf-field-flexible-content > .acf-label label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #444; }

.inside.acf-fields.-top > .acf-field-group > .acf-label label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #444; }

.inside.acf-fields.-top > .acf-field-repeater > .acf-label label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #444; }

.seamless .inside.acf-fields:not(.-left) > .acf-field {
  padding: 0 12px; }

/*--------------------------------------------------------------
## ACF postboxes
--------------------------------------------------------------*/
.acf-postbox .inside {
  background: #fafafa; }

.acf-postbox .inside.-sidebar {
  background: #fff; }

.acf-postbox label {
  cursor: default; }

.acf-fields.-sidebar .acf-field,
.acf-fields.-sidebar .acf-field-group {
  background: #fff; }

