/*--------------------------------------------------------------
## Clickable
blocks with this class will open the link anywhere in container
as such, add clickfeedback etc here
==============================================================*/
.clickable {
  cursor: pointer;
  @include trans-cb(0.2, opacity, color);

  .block__title a {
    text-decoration: none;
  }

  .block__link {
    &::after {
      @include trans-ea(0.3, transform);
    }
  }

  .block__link--label {
    text-decoration: none;
  }


  // hover --------------
  &:hover {
    @include bp-min($medium){
      cursor: pointer;

      .block__title {

        &::after,
        &::before {
          color: theme(main, link-h);
        }

        a {
          color: theme(main, link-h);
        }
      }

      .block__title--icon {

        &::before {
          color: theme(main, link-h);
        }
      }

      .block__link {
        color: theme(main, link-h);
        text-decoration: underline;

        &::before,
        &::after {
          color: inherit;
        }

        &::after {
          transform: translateX(6px);
        }
      }

      .block__link--label {
        background: theme(main, link-h);
        color: theme(main, white);
        text-decoration: underline;

        &::after {
          color: theme(main, white);
        }
      }
    }
  }

  // active --------------
  &:active {
    cursor: pointer;

    .block__thumb,
    .block__img img,
    .wp-post-image {
      opacity: 0.9;
    }

    .block__title {

      &::after,
      &::before {
        color: theme(main, link-a);
      }
    }

    .block__link {
      color: theme(main, link-a);

      &::before,
      &::after {
        color: inherit;
      }
    }

    .block__link--label {
      background: theme(main, link-a);
      color: theme(main, white);
    }

  }
}
