/*--------------------------------------------------------------
### Viewport effects
--------------------------------------------------------------*/
$trans_delay: 0.4s;
// viewport visible ----------------- /

.vp-row {
  //@include trans-vp( 0.4, opacity );
	//transition-delay: $trans_delay;
	//opacity: 0;
	overflow-x: hidden;

	&.in-view {
	//	opacity: 1;
	}

	.vp-n1 {
		transition-delay: $trans_delay;
	}
  .vp-n2 {
		transition-delay: $trans_delay * 2;
	}
	.vp-n3 {
		transition-delay: $trans_delay * 3;
	}
}

// animate div
.vp-row {

	.vp-up {
		@include trans-vp( 0.8, transform );
		transform: translateY(20rem);
		transition-delay: 0.4s;
	}
	&.in-view {
		.vp-up {
			transform: translateX(0);
		}
	}

	.vp-left {
		@include trans-vp( 0.3, transform );
		transform: translateX(-1920px);
		transition-delay: 0.6s;
	}
	&.in-view {
		.vp-left {
			transform: translateY(0);
		}
	}

	.vp-right {
		@include trans-vp( 0.3, transform );
		transform: translateX(1920px);
		transition-delay: 0.6s;
	}
	&.in-view {
		.vp-right {
			transform: translateY(0);
		}
	}
}
