/*--------------------------------------------------------------
## Nomob / yesmob
==============================================================*/
.nomob {
  display: none;
  @include bp-min($medium) {
    display: block;
  }
}

.yesmob {
  display: block;
  @include bp-min($medium) {
    display: none;
  }
}

.nav--main.right {
  .nomob {
    display: none;
    @include bp-min($medium) {
      display: block;
    }
  }

  .yesmob {
    display: none !important;
    @include bp-max($medium){
      display: inline-block !important;
    }
  }
}
