/*--------------------------------------------------------------
## Archive
==============================================================*/
// Taxonomy
.archive-description,
.taxonomy-description {
	padding-top: 1rem;
	line-height: 1.4;
}

.blog,
.archive,
.category {
	.row--previews {
		padding-top: 1rem;
	}
	.row--content {
		padding-bottom: 1rem;
	}
}
