/*--------------------------------------------------------------
### List--links
// add to block__list
--------------------------------------------------------------*/
.list--links {

  .block__link {

    &.is-active {
      text-decoration-color: theme(main, icon);
    }
  }

}
