/*--------------------------------------------------------------
## Collapse pop-open (not in use)
==============================================================*/
// info & infocard
// <span class="collapse--info"> -> text link
// <span class="collapse--infocard"> text to toggle

.collapse--wrap {
  cursor: help;
  position: relative;
}

.collapse--card {
  display: none;

  &.toggled {
    display: block;
  }
}
