/*--------------------------------------------------------------
## Front-page template
==============================================================*/
.home {

	.row--previews__select {

		.block--previews {
			padding: 0;

			@include bp-min($medium){
				padding: 0 4rem;
			}

			.preview--post {
				padding: 0 2rem;
			}
		}
	}

	.row--content {
	}

	.row--previews {
	}

}
