/*--------------------------------------------------------------
### Menu--main  ( main menu list )
--------------------------------------------------------------*/
.menu--main {
	// Turn off menu list on mobile view
	display: none;
	@include bp-min($medium){
		display: inline-block;
		font-size: 0;
	}

	.menu__item {
		font-family: $font_menu;
		font-size: $font_size_menu_s;

		@include bp-min($medium){
			font-size: $font_size_menu_m;
			@include bp-min($large){
				font-size: $font_size_menu_l;
			}

			&:last-child .menu__anchor {
				padding-right: 0;
			}
		}
	}

	.menu__anchor {
		@include bp-min($medium){
			padding: 0 0.75rem;
			text-decoration: none;
			@include bp-min($large){
				padding: 0 1.125rem;
			}
		}
	}

	.menu__sub-menu {

		// submenu item
		.menu__item {
			@include bp-min($medium){
				font-size: 0.875rem;
			}
		}
		// submenu anchor
		.menu__anchor {
			@include bp-min($medium){
				width: $width_submenu_main;
			}
		}
	}
} // menu--main
