/*--------------------------------------------------------------
### Wrap--post
--------------------------------------------------------------*/
$post_width: 800px;

.wrap--post {
  position: relative;

  .row > .wrap {
    //max-width: $post_width;
    padding: 1rem 1.5rem 1rem 1.5rem;

    @include bp-min($medium){
      padding: $text_spacing $height_pad_m $text_spacing $height_pad_m;
    }
  }

  .row--content {
    @include bp-max($medium){
      background: #fff;
    }

    > .wrap {
      @include bp-min($medium) {
        background: #fff;
      }
    }
  }

  .block--meta--bot {
    margin: 0 auto;
  }

  /*
  .figure {
    height: 1rem;
    background: theme(main, bg);
    display: block;
    bottom: 0;
    width: 100%;
    @include bp-min($medium) {
      position: absolute;
      height: 3rem;
    }
  }
  */

}
