// Graphic effects and stuff

// Pseudo triangle
@mixin triangle_before($color, $sizeValue: 1) {
  border: solid transparent;
  border-top-color: $color;
  border-width: ($sizeValue * 1rem) ($sizeValue * 2rem) 0 ($sizeValue * 2rem);
  content: " ";
  height: 0;
  top: 0;
  position: absolute;
  pointer-events: none;
  right: calc(50% - (#{$sizeValue * 2rem}) );
  width: 0;
}

@mixin triangle_after($color, $sizeValue: 1) {
  bottom: $sizeValue * -1rem;
  border: solid transparent;
  border-top-color: $color;
  border-width: ($sizeValue * 1rem) ($sizeValue * 2rem) 0 ($sizeValue * 2rem);
  content: " ";
  height: 0;
  position: absolute;
  pointer-events: none;
  right: calc(50% - (#{$sizeValue * 2rem}) );
  width: 0;
}

@mixin triangle_right($color, $sizeValue: 1.5) {
  bottom: 0;
  border-top: ($sizeValue * 1rem) solid transparent;
  border-bottom: ($sizeValue * 1rem) solid transparent;
  border-left: ($sizeValue * 1rem) solid $color;
  content: " ";
  height: 0;
  position: absolute;
  pointer-events: none;
  right: -1.5rem;
  width: 0;
}

@mixin triangle_line_top($color: theme(main)) {
  border-top: 1px solid $color;
  position: relative;

  &::after,
  &::before {
    border: solid transparent;
    border-width: 16px 32px 0 32px;
    content: " ";
    height: 0;
    position: absolute;
    pointer-events: none;
    right: calc(50% - 32px);
    width: 0;
  }

  &::before {
    border-top-color: $color;
    top: -1px;
  }

  &::after {
    border-top-color: theme(main, bg-alt);
    top: -2px;
  }
}

@mixin triangle_line_bottom($color: theme(main)) {
  border-bottom: 1px solid $color;
  position: relative;

  &::after,
  &::before {
    border: solid transparent;
    border-width: 16px 32px 0 32px;
    content: " ";
    height: 0;
    position: absolute;
    pointer-events: none;
    right: calc(50% - 32px);
    width: 0;
  }

  &::before {
    border-top-color: $color;
    bottom: -16px;
  }

  &::after {
    border-top-color: theme(main, bg);
    bottom: -15px;
  }
}
