/*--------------------------------------------------------------
## Typography
==============================================================*/
body,
button,
input,
select,
optgroup,
textarea {
	color: theme(site, base);
	font-family: $font_main;
	font-weight: 400;
	line-height: $lh_body;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dfn, cite, em, i {
	font-style: italic;
}

pre {
	font-size: 0.9375em;
	margin-bottom: 1.5em;
	font-family: $font_pre;
	line-height: 1.5;
	max-width: 100%;
	overflow: auto;
	padding: 1.5em;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
}

code {
	padding: 0.25em 0.25em;
}

code, kbd, tt, var {
	font-size: 0.9375em;
	font-family: $font_code;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-word;
}

code, kbd, tt, var, samp, pre {
	hyphens: none;
}

pre code {
	word-break: normal;
	display: block;
}

abbr, acronym, dfn {
	border-bottom: 1px dotted theme(site, base);
	cursor: help;
}

mark, ins {
	background: theme(main, bg-alt);
	text-decoration: none;
}

big {
	font-size: 125%;
}
