/*--------------------------------------------------------------
### Comments
--------------------------------------------------------------*/
.comment-content {
	font-size: 0.9375em;

	p {
		line-height: 1.5;
		margin: 0 0 1em;
	}

	ol,
	ul {
		margin: 0 1.5em;
	}

	ol ol,
	ol ul,
	ul ol,
	ul ul {
		margin: 0.75em 0;
	}

	ul {
		list-style: disc outside;
	}

	ol {
		list-style: decimal outside;
	}

	li {
		margin: 0 0 0 2.25em;
	}
	a {
		word-wrap: break-word;
	}

	// headings in comments
	h1 {
		margin: 0 0 1.5rem 0;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
}
