/*--------------------------------------------------------------
### Blockquote
--------------------------------------------------------------*/
blockquote {
  font-family: $font_headings;
  margin: $text_spacing 0;
	padding: 1.5rem;
	position: relative;

  @include bp-max($small) {
    padding: 0.75rem;
    margin: $text_spacing 0;
  }

	cite,
	small {
		font-size: 75%;
	}

  p,
	cite,
	em,
	i {
    font-style: italic;
	}

	cite {
		display: block;
		margin-top: 0.125rem;
		text-align: right;
	}

  > p:last-child {
    margin-bottom: 0;
  }
}

// Blockquotes in comment
.comment-content {
	blockquote {
		line-height: 1.667;
		margin: 12px 0 12px 34px;
		margin: 0.75rem 0 0.75rem 2.125rem;
	}
}
