/*--------------------------------------------------------------
### Block--form
--------------------------------------------------------------*/
.block--form {
  // under submit button
  p {
    margin: 0;
  }
}

.grid > .block--form {
  flex-direction: column;
  margin-bottom: 1rem;
}
