/*--------------------------------------------------------------
### BLock--footer
--------------------------------------------------------------*/
$foot__logo-h: 80px;
$foot__logo-w: 230px;

.block--footer {
  display: block;
  font-family: $font_footer;
  margin-bottom: 1rem;

  .block__title {
    text-transform: uppercase;
  }

  .block__list {
    display: inline-block;
    list-style-type: none;
    margin: 0;

    li {
      line-height: 26px;

      &::before {
        font-size: 1.375em;
        opacity: 0.8;
      }
    }
    // on li with anchor as direct child
    .has-link {
      line-height: 26px - 2px;

      a::before {
        font-size: 1.375em;
      }
      .email::before {
        font-size: 1.25em;
      }

    }
  }

  a {
    color: inherit;
    display: block;
  }


  &.logo {
    @include bp-min($medium){
      max-width: 200px;
    }

    img {
      height: $foot__logo-h;
      object-fit: contain;
      object-position: 0;
    }

    .block__list {
      margin-top: 0.5rem;

      li {
        font-size: 12px;
        line-height: 1.4;
        padding: 0;
      }
    }
  }

  &.address {

    .block__list {

      li {
        padding: 0;

        // remove bullets
        &::before {
          display: none;
        }
      }

    }

  }

  &.links,
  &.text {

    .block__list {

      > li::before {
        content: "\f111"; //circle
        top: 5px;
        font-size: 1em;
      }
    }
  }
}
