/*--------------------------------------------------------------
## Sidebar
==============================================================*/
// Used for template: Page with sidebar,
// Blog, Single, Archive, Search, 404
.sidebar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
  @include calc-width(100, $margin_site_m); // responsive margin
  @include bp-max($small) {
    flex-wrap: wrap;
  }
  @include bp-min($medium) {
    display: initial;
    margin: 0 0 0 auto;
    padding: 0;
  }

  .widget--sidebar {
    margin-bottom: 1rem;
    width: 100%;
    @include bp-min($medium) {
      margin-bottom: 2rem;
    }
  }
}
