/*--------------------------------------------------------------
### preview--post
--------------------------------------------------------------*/
.preview--post {
  padding: $pad;

  // style
  .block__thumb {
    object-position: center;
    height: auto;
    overflow: hidden;

    img {
      height: auto;
    }
  }

  &__rel {
    padding: 0;

    .block__text p {
      padding-left: 0.75rem;
      margin-left: 1rem;
    }

    .block__title--icon {
      &::before {
        left: 0;
      }
    }
  }
}
