/*--------------------------------------------------------------
## TinyMCE typography
==============================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
}
b,
strong {
	font-weight: 700;
}
dfn,
cite,
em,
i {
	font-style: italic;
}

address {
	font-style: italic;
	margin: 0 0 24px;
	margin: 0 0 1.5rem;
}
code,
kbd,
tt,
var,
samp,
pre {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
code {
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	color: #dd1144;
	font-size: 13px;
	font-size: 0.8125rem;
	padding: 2px 4px;
	padding: 0.125rem 0.25rem;
	white-space: pre;
	white-space: pre-wrap;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
		  border-radius: 4px;
}
pre {
	background-color: transparent;
	line-height: 1.2;
	margin: 24px 0;
	margin: 1.5rem 0;
	max-width: 100%;
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}
pre code {
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	color: inherit;
	display: block;
	line-height: 2;
	padding: 24px;
	padding: 1.5rem;
}
abbr[title],
acronym,
dfn {
	border-bottom: 1px dotted #777;
	cursor: help;
}
mark,
ins {
	background-color: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
