/*--------------------------------------------------------------
## TinyMCE headings
==============================================================*/
p {
	line-height: 1.5;
	margin: 0 0 1rem 0;
}

h2 {
	margin: 4rem 0 1rem 0;
}

h3 {
	margin: 3rem 0 1rem 0;
}

h4 {
	margin: 2rem 0 0.75rem 0;
}

h5, h6 {
	margin: 1.5rem 0 0.5rem 0;
}

h6 {
	font-weight: bold;
}


.mce-content-body {

  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > h4:first-child,
  > h5:first-child,
  > h6:first-child {
    margin-top: 0;
  }
}
