/*--------------------------------------------------------------
### List post-body
--------------------------------------------------------------*/
.section-body,
.post-body {

  > ol {
    @include font_em(p);
  }

  ol {
    counter-reset: li; // Initiate a counter
    margin: $text_spacing 0;
    @include bp-min($medium){
      margin: $text_spacing 1em;
    }

    > li {
      list-style: none;
      padding: 0.25em 0.25em 0.25em 1.25em;
      position: relative;

      &::before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        border-radius: 2px;
        box-sizing: border-box;
        content: counter(li); 	// Use the counter as content
        counter-increment: li; 	// Increment the counter by 1
        font-family: $font_headings;
        font-weight: bold;
        font-size: 1em;
        left: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 0.25em;

        @include bp-min($medium){
          top: 0.25em;
        }
      }

      /*
      // with background
      &::before {
        background: theme(main);
        color: theme(main, bg);
        font-size: 0.875em;
        top: 9px;
        width: 1.45em;
      }
      */

    }

    ol {
      margin: 0.375em 0 0 0;

      ol {
        margin: 0.375em 0 0 0;
      }
    }
  }
}


.section-body,
.post-body {

  > ul {
    @include font_em(p);
  }

  ul {
    counter-reset: li; // Initiate a counter\
    margin: $text_spacing 0.375em $text_spacing 0;
    @include bp-min($medium){
      margin: $text_spacing 1em 1.5em $text_spacing;
    }

    > li {
      list-style: none; // Disable the normal item numbering
      margin: 0;
      position: relative;
  		text-indent: -1.25em;
      padding: 0.25em 0 0.25em 1.25em;
      @include bp-min($medium){
        padding: 0.25em 0.25em 0.25em 1.25em;
      }

      &::before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        content: "\f111"; // "/f0c8"
        font: normal 0.5em "FontAwesome";
        margin-right: 1.5em;
        position: relative;
        text-align: center;
        vertical-align: 0.25em;
      }

    }

    ul {
      margin: 0.375em 0 0 0;

      ul {
        margin: 0.375em 0 0 0;
      }
    }

  }
}
