/**
  * Description: Used to style the TinyMCE editor.
  * Theme Name: Hum-v7-core
  *
  */
/*--------------------------------------------------------------
## TinyMCE editor
==============================================================*/
html .mce-content-body {
  max-width: 720px; }

body {
  color: #222;
  font-family: "Open Sans", Verdana, Geneva, "DejaVu Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.8;
  text-rendering: optimizeLegibility; }

/*--------------------------------------------------------------
## TinyMCE typography
==============================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700; }

b,
strong {
  font-weight: 700; }

dfn,
cite,
em,
i {
  font-style: italic; }

address {
  font-style: italic;
  margin: 0 0 24px;
  margin: 0 0 1.5rem; }

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

code {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  color: #dd1144;
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 2px 4px;
  padding: 0.125rem 0.25rem;
  white-space: pre;
  white-space: pre-wrap;
  border-radius: 4px; }

pre {
  background-color: transparent;
  line-height: 1.2;
  margin: 24px 0;
  margin: 1.5rem 0;
  max-width: 100%;
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }

pre code {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  color: inherit;
  display: block;
  line-height: 2;
  padding: 24px;
  padding: 1.5rem; }

abbr[title],
acronym,
dfn {
  border-bottom: 1px dotted #777;
  cursor: help; }

mark,
ins {
  background-color: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
## TinyMCE headings
==============================================================*/
/*--------------------------------------------------------------
### Headings
--------------------------------------------------------------*/
p {
  font-size: 1em;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1em; }
  @media (min-width: 768px) {
    p {
      font-size: 1em; } }
  @media (min-width: 992px) {
    p {
      font-size: 1.0625em;
      line-height: 1.6; } }
  @media (min-width: 1200px) {
    p {
      font-size: 1.125em; } }

small {
  font-size: 0.875em; }
  @media (max-width: 767px) {
    small {
      font-size: 0.75em; } }

h1 {
  font-size: 1.875em;
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 auto 0.5rem;
  width: 100%; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.25em; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 2.625em;
      line-height: 1.25; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3.125em; } }

h2 {
  font-size: 1.75em;
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 auto 0.5rem;
  width: 100%; }
  @media (min-width: 768px) {
    h2 {
      font-size: 2em; } }
  @media (min-width: 992px) {
    h2 {
      font-size: 2.125em;
      line-height: 1.25; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2.375em; } }

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  margin: 0 auto 0.5rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.625em; } }
  @media (min-width: 992px) {
    h3 {
      font-size: 1.75em;
      line-height: 1.25; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 2em; } }

h4 {
  font-size: 1.25em;
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  margin: 0 auto 0.5rem; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.375em; } }
  @media (min-width: 992px) {
    h4 {
      font-size: 1.5em;
      line-height: 1.25; } }
  @media (min-width: 1200px) {
    h4 {
      font-size: 1.5em; } }

p {
  line-height: 1.5;
  margin: 0 0 1rem 0; }

h2 {
  margin: 4rem 0 1rem 0; }

h3 {
  margin: 3rem 0 1rem 0; }

h4 {
  margin: 2rem 0 0.75rem 0; }

h5, h6 {
  margin: 1.5rem 0 0.5rem 0; }

h6 {
  font-weight: bold; }

.mce-content-body > h1:first-child,
.mce-content-body > h2:first-child,
.mce-content-body > h3:first-child,
.mce-content-body > h4:first-child,
.mce-content-body > h5:first-child,
.mce-content-body > h6:first-child {
  margin-top: 0; }

/*--------------------------------------------------------------
## TinyMCE typography
==============================================================*/
/*--------------------------------------------------------------
### Blockquote
--------------------------------------------------------------*/
blockquote {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
  margin: 0.5em 1em 1.5em 1em;
  padding: 0.5rem 0.75rem;
  position: relative; }
  @media (max-width: 767px) {
    blockquote {
      padding: 0.75rem;
      margin: 1.5em 0; } }
  blockquote p {
    margin-bottom: 10px; }
  blockquote cite,
  blockquote small {
    font-size: 75%; }
  blockquote cite,
  blockquote em,
  blockquote i {
    font-style: italic; }
  blockquote cite {
    display: block;
    margin-top: 0.125rem;
    text-align: right; }
  blockquote > p:last-child {
    margin-bottom: 0; }

.comment-content blockquote {
  line-height: 1.667;
  margin: 12px 0 12px 34px;
  margin: 0.75rem 0 0.75rem 2.125rem; }

blockquote {
  color: #303030;
  line-height: 1.6; }
  blockquote strong,
  blockquote b {
    font-weight: 600; }

/*--------------------------------------------------------------
## TinyMCE elements
==============================================================*/
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

dl {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

table,
th,
td,
.mce-item-table,
.mce-item-table th,
.mce-item-table td {
  border: 1px solid #ccc; }

table,
.mce-item-table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  /* border-bottom: 1px solid #ededed; */
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%; }

caption,
th,
.mce-item-table th,
td {
  font-weight: normal;
  text-align: left; }

th {
  border-width: 0 1px 1px 0;
  font-weight: 700; }

td,
.mce-item-table td {
  border-width: 0 1px 1px 0; }

th, td {
  padding: 0.4375rem; }

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

figure {
  margin: 0; }

del {
  opacity: 0.8; }

.icon-webfont,
.mce-content-body a[target=_blank]:link:after,
ul.list-icon-ok li:before,
ul.list-icon-file li:before,
ul.list-icon-hand-right li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 20px/1 "FontAwesome";
  font-size: 16px;
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto; }

a.icon-webfont,
a .icon-webfont,
a:hover.icon-webfont,
a:hover .icon-webfont,
a:active.icon-webfont,
a:active .icon-webfont,
.mce-content-body a[target=_blank]:link:after {
  text-decoration: none !important; }

/*--------------------------------------------------------------
## TinyMCE elements - list
==============================================================*/
/*--------------------------------------------------------------
## Lists
==============================================================*/
ul {
  list-style: disc;
  list-style-position: inside;
  margin: 0;
  padding: 0; }

ol {
  list-style: decimal;
  list-style-position: inside;
  padding: 0; }

ul li, ol li {
  position: relative;
  margin: 0; }

ul ul li {
  list-style-position: inside; }

li > ul,
li > ol {
  margin-top: 0.375em;
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

dl {
  margin-bottom: 1.5em; }

ul,
ol {
  margin: 0 0 1.5rem 1.375rem; }

ol,
ul {
  margin: 0 0 24px;
  margin: 0 0 1.5rem; }

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 12px 0 12px 0;
  margin: 0.75rem 0 0.75rem 0; }

ul {
  list-style: disc outside; }
  ul > li {
    margin: 0 0 0.5em 2.25em;
    padding: 0; }

ol {
  list-style: decimal outside; }
  ol > li {
    margin: 0 0 0.5em 2.25em;
    padding: 0; }

/*--------------------------------------------------------------
## TinyMCE button & forms
==============================================================*/
/* General styles first */
button,
input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: inherit;
  padding: 6px;
  padding: 0.375rem; }

button,
input {
  line-height: normal; }

/* Buttons */
.btn,
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
.bypostauthor cite .post-author-label {
  /* Twitter Bootstrap .btn style */
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  /*vertical-align: middle;*/
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  /* End - Twitter Bootstrap .btn style */
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  background-image: linear-gradient(to top, #f4f4f4, #e6e6e6);
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
  color: #5a5a5a; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.menu-toggle:focus,
button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
article.post-password-required input[type=submit]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover,
.btn:focus,
.btn.focus,
.menu-toggle:hover,
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
article.post-password-required input[type=submit]:hover,
article.post-password-required input[type=submit]:focus {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  /* Back compat. for IE8 */
  background-color: rgba(0, 0, 0, 0.045);
  background-image: none; }

.btn:active,
.btn.active,
.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  /* Back compat. for IE8 */
  background-color: rgba(0, 0, 0, 0.1);
  background-image: none;
  outline: 0; }

button[disabled],
input[disabled],
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: .65; }

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn + .btn {
  margin: 12px 0;
  margin: 0.75rem 0; }

/*--------------------------------------------------------------
## TinyMCE alignments
==============================================================*/
/*--------------------------------------------------------------
## Alignments
==============================================================*/
.alignleft,
.alignright,
.alignnone,
.aligncenter {
  clear: both;
  float: none;
  width: 100%; }

.wp-caption {
  margin-top: 0;
  margin-bottom: 2em; }

.alignleft {
  display: block;
  margin: 2rem auto 2rem 0; }
  @media (min-width: 992px) {
    .alignleft {
      display: inline;
      float: left;
      margin-top: 0.25em;
      margin-right: 2.5em;
      width: auto; } }

.alignright {
  display: block;
  margin: 2rem auto 2rem 0; }
  @media (min-width: 992px) {
    .alignright {
      display: inline;
      float: right;
      margin-top: 0.25em;
      margin-left: 2.5em;
      width: auto; } }

.aligncenter {
  margin: 2rem auto 2rem 0; }
  @media (min-width: 992px) {
    .aligncenter {
      clear: both;
      display: block;
      margin: 2rem auto;
      width: auto; } }

.alignnone {
  margin: 0 auto 0 0; }
  @media (min-width: 992px) {
    .alignnone {
      width: auto; } }

.post-body p {
  clear: both; }

/* Do not add top margin if image is at the top of the post */
img.aligncenter:first-child,
figure.aligncenter:first-child {
  margin-top: 0; }

div.wp-caption.alignright img[class*="wp-image-"],
figure.alignright img[class*="wp-image-"],
div.wp-caption.alignright .wp-caption-text,
figure.alignright .wp-caption-text {
  padding-left: 0;
  padding-right: 0; }

/*--------------------------------------------------------------
## TinyMCE images
==============================================================*/
img,
.wp-caption {
  max-width: 100%; }

img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto; }

img.size-full,
img.size-large,
img.wp-post-image {
  max-width: 100%;
  height: auto; }

img,
img.wp-post-image {
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }

img.wp-smiley {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.wp-caption {
  padding: 0; }

.wp-caption .wp-caption-text,
.wp-caption-dd {
  padding: 7px 0 0 0;
  padding: 0.4375rem 0 0 0;
  text-align: left; }

.wp-caption .wp-caption-text,
.wp-caption-dd,
.gallery-caption,
.entry-caption {
  font-style: italic;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.7;
  color: #505050; }

/*--------------------------------------------------------------
## TinyMCE alignment
==============================================================*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert h4 {
  margin-top: 0;
  color: inherit; }

.alert .alert-link {
  font-weight: bold; }

.alert > p,
.alert > ul {
  margin-bottom: 0; }

.alert > p + p {
  margin-top: 5px; }

/* For fully functioning, dismissible alerts, you must use the alerts JavaScript plugin:
 * @link http://getbootstrap.com/javascript/#alerts
 */
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px; }

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit; }

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-success hr {
  border-top-color: #c9e2b3; }

.alert-success .alert-link {
  color: #2b542c; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-info hr {
  border-top-color: #a6e1ec; }

.alert-info .alert-link {
  color: #245269; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-warning hr {
  border-top-color: #f7e1b5; }

.alert-warning .alert-link {
  color: #66512c; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.alert-danger hr {
  border-top-color: #e4b9c0; }

.alert-danger .alert-link {
  color: #843534; }

/*--------------------------------------------------------------
## TinyMCE theme colors etc.
==============================================================*/
/*--------------------------------------------------------------
## Theme
==============================================================*/
h1 {
  color: #206697; }

.post-body h2, .post-body h3,
.block--text h2,
.block--text h3 {
  color: #0f0c1c; }

.post-body h4, .post-body h5, .post-body h6,
.post-body p,
.block--text h4,
.block--text h5,
.block--text h6,
.block--text p {
  color: #0f0c1c; }

.post-body p > a,
.block--text p > a {
  color: #206697;
  -webkit-text-decoration-color: #1D8B5D;
          text-decoration-color: #1D8B5D; }
  .post-body p > a:hover,
  .block--text p > a:hover {
    color: #2982c1; }
  .post-body p > a:active,
  .block--text p > a:active {
    color: #174a6d; }

.post-body ul > li::before, .post-body ol > li::before,
.block--text ul > li::before,
.block--text ol > li::before {
  color: #206697; }

.post-body blockquote,
.block--text blockquote {
  background: #fff; }
  .post-body blockquote p,
  .block--text blockquote p {
    color: #0f0c1c; }

.post-body code,
.block--text code {
  background: #fff; }

