/*--------------------------------------------------------------
## Accessibility
==============================================================*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	// Many screen reader and browser combinations announce
	// broken words as they would appear visually.

	&:focus {
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: theme(site, base);
		display: block;
		font-size: 0.875em;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; // Above WP toolbar
	}
}

/* Skip link */
.skiplink .screen-reader-text:focus {
	border: 2px solid #ccc;
	border-radius: 3px;
	clip: auto !important;
	color: theme(site, base);
	display: block;
	font-size: 0.875em;
	left: 5px;
	padding: 12px;
	padding: 0.75rem;
	position: absolute;
	top: 5px;
	z-index: 100000; // Above WP toolbar

	&:hover {
	text-decoration: underline;
	}
}

// Do not show the outline on the skip link target
#content[tabindex="-1"]:focus {
	outline: 0;
}
