/*--------------------------------------------------------------
## Post-body
==============================================================*/
// outer container for post & post-types
// use margins, no padding, to keep document flow

.post-body {
	word-break: normal;
  word-wrap: break-word;
  user-select: none;

	h2 {
	  margin: ($text_spacing * 3) 0 $text_spacing 0;
  }

	h3 {
		margin: $text_spacing 0;
	}

	h4 {
		margin: $text_spacing 0;
	}

	p {
		margin-bottom: $text_spacing
	}

	ul, ol {
		margin-top: $text_spacing;
		margin-bottom: $text_spacing;
	}

}
