/*--------------------------------------------------------------
### Header--branding
--------------------------------------------------------------*/
// main wrap
.site-branding {
  max-width: 100%;
	min-width: 0;
	overflow: hidden;
  display: flex;
  align-items: center;
}

// site logo
.custom-logo-link {
  margin: 0;
  width: 54px;
  @include bp-min($medium){
    display: block;
    width: 64px;
  }

  img {
    object-fit: contain;
    height: auto;
    width: auto;
    background: theme(main);
    @include bp-min($small){
      background: linear-gradient( to right, rgba(clr(primary, dark), 1), rgba(clr(primary, darkish), 1));
    }
  }
}

// title & descr (= anchor)
.site-branding__text {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  width: auto;
}

.site-title,
.site-description {
  display: none;
  padding-left: 8px;
  margin: 0;
  width: 100%;
  @include bp-max($small) {
    display: none;
  }
  @include bp-min($medium) {
    display: block;
  }

  a {
    color: inherit;
    font-size: inherit;
    display: block;
  }
}


.site-title {
  @include bp-min($medium) {
    font-weight: 300;
    font-size: 16px;
  }
}

.site-description {
  @include bp-min($medium) {
    font-size: 12px;
  }
}

// compact
.header--site__compact {

  .site-title {
    @include bp-min($medium) {
      font-size: 14px;
    }
  }
  .site-description {
    @include bp-min($medium) {
      font-size: 10px;
    }
  }
}
