/*--------------------------------------------------------------
### Header--site
--------------------------------------------------------------*/
.header--site {
	display: flex;
	flex-wrap: wrap;

	.header--left {
		display: flex;
		width: 100%;
		@include bp-min($medium){
			width: $logo_m;
		}
	}

	&__compact {
		.header--left {
			@include bp-min($medium){
				width: $logo_m_c;
			}
		}
	}

	.header--mid {
		width: 190px;
		@include bp-max($small){
			display: none;
		}
		@include bp-min($medium){
			width: 40%;
		}
		@include bp-min($large){
			width: calc( 40% - $logo_m );
		}
	}

	.header--right {
		display: flex;
		justify-content: flex-end;
		width: 100%;

		@include bp-min($medium){
			width: calc( 60% - $logo_m );
		}
		@include bp-min($large){
			width: 60%;
		}
	}
}

.is-toggled {
	height: 100%;

	.header--left {
		position: absolute;
		left: 0;
		flex-direction: column;
    margin-top: 4px;
	}

	.wrap--header {
		height: 100%;
	}

	.search-container-mobile {
		@include bp-max($medium){
			display: none;
		}
	}

}

.wrap--header {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	@include bp-min($medium){
		flex-wrap: nowrap;
	}
}

// fix for jumping logo on menu toggle in compact
.header--site {
	@include bp-max($small) {

		&.is-toggled {
			.header--left {
				height: $logo_m_c + 6px; // height menu mob-c
			}
		}
	}
}
