/*--------------------------------------------------------------
## Archive
==============================================================*/
// Taxonomy
.archive-description,
.taxonomy-description {
	padding-top: 1rem;
	line-height: 1.4;
}

.blog,
.archive,
.category {
}

.post-type-archive-werkwijze {
	.page-content > .row {
		background: theme(main);
		&:first-child {
			padding-top: 0.5rem;
		}
	}
}
