/*--------------------------------------------------------------
## Post_docs
==============================================================*/
.single-post_docs {

  .btn.download {
    margin-top: 2rem;
  }
}
