/*--------------------------------------------------------------
## Portfolio single
==============================================================*/
.single-portfolio {

  .row--portfolio__images {

    // image row
    .image-desktop {
      display: none;
      @include bp-min($medium){
        display: block;
      }

      img {
        max-height: 480px;
        height: 100%;
        object-fit: contain;
        object-position: top left;
        @include bp-min($medium){
          max-height: 440px;
        }
      }
    }

    .image-desktop.nomob {
      display: block;
    }

    .image-mob {

      img {
        max-height: unset;
        object-fit: contain;
        object-position: top left;
        @include bp-min($medium){
          max-height: 440px;
          object-position: top right;
        }
      }
    }
  }


  .row--portfolio__client {

    .portfolio-products {
      margin-top: auto;
      margin-bottom: 2rem;
    }

  }

  .row--review {
    padding-top: 0;
  }

  .row--gallery {

    .wp-caption {
      display: none;
    }
  }

}
