// remove icon in admin bar to make it behave
.ab-top-menu {

  @include bp-max($medium){

    #wp-admin-bar-new_draft {
      display: none !important;
    }
    #wp-admin-bar-wpseo-menu {
      display: none !important;
    }
  }
}
