/*--------------------------------------------------------------
### Grid--posts
--------------------------------------------------------------*/
$grid_space_prev: $grid_space;

.grid--previews {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid_space_prev;
  margin-right: -$grid_space_prev;

  > .preview {
    flex-direction: row;
    margin-left: $grid_space_prev;
    margin-right: $grid_space_prev;
    margin-bottom: $grid_space_prev;
    @include calc-width(100, $grid_space_prev);

    @include bp-min($medium) {
      margin-bottom: $grid_space_prev * 2;
    }


    // block__text
    .block__text p {
      font-size: 0.9375em;
      min-height: auto;
      @include bp-min($medium) {
        @include font-fill(prev, medium, 4);
      }
      @include bp-min($large) {
        @include font-fill(prev, large, 4);
      }
    }


  }

  &.grid--100 {

    > .preview {
      flex-direction: column;
      flex-wrap: nowrap;

      .block__title {
        @include font-fill(prev-title, base, 2);
      }

      @include bp-min($small){
        flex-direction: row;
        .block__body {
          width: 70%;
        }
        .block__thumb {
          width: 30%;
        }
        .block__title {
          @include font-fill(prev-title, small, 2);
        }
      }

      @include bp-min($medium){
        .block__body {
          width: 75%;
        }
        .block__thumb {
          width: 25%;
        }
        .block__title {
          @include font-fill(prev-title, medium, 2);
        }
      }

      @include bp-min($large) {

        .block__title {
          @include font-fill(prev-title, large, 2);
        }
      }
    }

  }

  &.grid--50 {

    > .preview {

      .block__title {
        @include font-fill(prev-title, base, 3);
      }

      @include bp-min($small) {
        @include calc-width(50, $grid_space_prev);
        .block__title {
          @include font-fill(prev-title, small, 2);
        }
      }

      @include bp-min($medium) {
        @include calc-width(50, $grid_space_prev);
        .block__title {
          @include font-fill(prev-title, medium, 2);
        }
      }

      @include bp-min($large) {
        .block__title {
          @include font-fill(prev-title, large, 2);
        }
      }
    }
  }


  &.grid--33 {

    > .preview {
      @include calc-width(50, $grid_space_prev);
      .block__title {
        @include font-fill(prev-title, base, 2);
      }

      @include bp-min($small) {
        @include calc-width(33.3333, $grid_space_prev);
        .block__title {
          @include font-fill(prev-title, small, 3);
        }
      }


      @include bp-min($medium) {
        @include calc-width(33.3333, $grid_space_prev);
        .block__title {
          @include font-fill(prev-title, medium, 3);
        }
      }

      @include bp-min($large) {
        .block__title {
          @include font-fill(prev-title, large, 2);
        }
      }
    }
  }

  &.grid--25 {

    > .preview {
      @include calc-width(50, $grid_space_prev);
      .block__title {
        @include font-fill(prev-title, base, 3);
      }

      @include bp-min($small) {
        @include calc-width(25, $grid_space_prev);
        .block__title {
          @include font-fill(prev-title, small, 3);
        }
      }

      @include bp-min($medium) {
        @include calc-width(25, $grid_space_prev);
        .block__title {
          @include font-fill(prev-title, medium, 3);
        }
      }

      @include bp-min($large) {
        .block__title {
          @include font-fill(prev-title, large, 3);
        }
      }
    }
  }

  &.icons {
    > .preview {
      .block__title {
        min-height: unset;
      }
    }
  }

}
