/*--------------------------------------------------------------
### List--icon
--------------------------------------------------------------*/
.list--icon {
  list-style: none;

  li {
    list-style: none;

    &::before {
      @include fa_em();
      content: "\f101";
    }
  }

  li.has-link {

    &::before {
      display: none;
    }

    a {
      &::before {
        @include fa_em();
        content: "\f101";
      }
    }

    .email::before {
      content: "\f0e0";
    }

    .phone::before {
      content: "\f095";
    }

    .linkedin::before {
      content: "\f08c";
    }

    .facebook::before {
      content: "\f230";
    }

    .twitter::before {
      content: "\f081";
    }

    .instagram::before {
      content: "\f16d";
    }
  }


  &.pad {
    $li_pad: 0.375em;

    li {
      background: #fff;
      padding: $li_pad;
      padding-left: 1.25em + $li_pad;

      &::before {
        top: 0.1875em + $li_pad;;
        left: $li_pad;
      }
    }

    li.has-link {

      a::before {
        top: 0.1875em + $li_pad;;
        left: $li_pad;
      }
    }
  }
}
