/*--------------------------------------------------------------
### Navigation for Posts
--------------------------------------------------------------*/
// .post-navigation, .nav-previous and .nav-next - prev/next post navigation
// .nav-links is for post, archive and comment navigations.

.post-navigation {
}

// Post, archive and comment navigations
.row--postnav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .block__link {

    &:hover {

      .block__linktext {
        .small {
          text-decoration: underline;
        }
      }
    }

    &:active {

      .block__linktext {
        .small {
          text-decoration: underline;
        }
      }
    }
  }
}

.row--postnav__bot {
  border-top: 1px solid theme(style-1, text);
}


.nav-links {
  font-size: 1em;
  line-height: 28px;
	line-height: 1.75rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  @include bp-min($medium) {
    flex-wrap: nowrap;

    .block__linktext {
      font-size: 18px;
    }
  }

  a {
    display: block;
    padding: 0.25rem 0;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(34, 107, 160, 1);
    @include bp-min($medium) {
      padding: 0.5rem 0;
    }
  }

  .small {
    color: color(grey);
    font-size: 12px;
    line-height: 1;
    display: block;
  }

}

.nav-previous {
  display: inline-block;
  margin-bottom: 0.5rem;
  vertical-align: top;
  width: 100%;
  @include bp-min($medium) {
    margin-bottom: 0;
  }

  a {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    //background: linear-gradient(to left, rgba( color(white, primary), 0.05 ), rgba( color(white, primary), 1 ) );

    &::before {
      @include fa;
      content: "\f053"; // fa-chevron-left
      font-size: 1.5rem;
      margin-right: 0.5rem;
      padding-bottom: 4px;
    }
  }
}

.nav-next {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 100%;

  a {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    //background: linear-gradient(to right, rgba( color(white, primary), 0.05 ), rgba( color(white, primary), 1 ) );

    &::after {
      @include fa;
      content: "\f054"; // fa-chevron-right
      font-size: 1.5rem;
      margin-left: 0.5rem;
      padding-bottom: 4px;
    }
  }
}
