/*--------------------------------------------------------------
## FontAwesome
==============================================================*/
/* All webfont related styles */
// Remaining css for webfont icons is plugged-in via functions.php
.post-body a[target=_blank]:link::after,
.section-body a[target=_blank]:link::after,
.icon-webfont,
.category .page-title::before,
.error-404 .page-title::before,
.search-no-results .page-title::before,
.search-results .page-title::before,
.sticky .page-title::before,
.tag .page-title::before,
.post-password-required .post-title::before,
.post-password-required .page-title::before,
.status-private .post-title::before {
  @include fa;
}

// Links
.category .page-title::before,
.error-404 .page-title::before,
.search-results .page-title::before,
.search-no-results .page-title::before,
.sticky .page-title::before,
.tag .page-title::before,
.status-private .post-title::before {
	font-size: 1em;
	padding-right: 8px;
}

.post-password-required .page-title::before,
.post-password-required .post-title::before {
	font-size: 0.875em;
}

// Icons for specific elements
.category .page-title::before {
	content: "\f07c";
}
.error-404 .page-title::before,
.search-no-results .page-title::before {
	content: "\f071";
}
.search-results .page-title::before {
	content: "\f002";
}
.sticky .page-title::before{
	content: "\f0eb";
}
.tag .page-title::before {
	content: "\f02c";
}
.post-password-required .page-title::before,
.post-password-required .post-title::before {
	content: "\f023";
	padding-right: 8px;
}
.status-private .post-title::before {
	color: #ff0000;
	content: "\f007";
	padding-right: 8px;
}
