/*--------------------------------------------------------------
### Header--site__compact switch
--------------------------------------------------------------*/
$height-top: 24px;
$height-menu: 76px;
$height-menu-mob: 48px;
// dont change
$height-line: $height-menu;
$height-line-mob: $height-menu-mob;

// compact menu
$height-top-c: 18px;
$height-menu-c: 48px;
$height-menu-mob-c: 48px;
// dont change
$height-line-c: $height-menu-c;
$height-line-mob-c: $height-menu-mob-c;


.header--site {

  .site-branding {

    img {
      padding-top: 8px * 0.5;
      padding-bottom: 8px * 0.5;
      @include trans-collapse(0.15, height);
      height: $height-line-mob;
      @include bp-min($medium){
        height: $height-line;
      }
    }
  }

  &__compact {

    .site-branding {

      img {
        padding-top: 8px * 0.5;
        padding-bottom: 8px * 0.5;
        @include bp-min($medium){
          height: $height-line-c;
          min-width: $height-line-c;
        }
      }
    }
  }
}

.header--site {

  .header--top {

    .header__links {
      @include trans-collapse(0.15, line-height);
      line-height: $height-top;
      @include bp-min($medium){
        line-height: $height-top;
      }
    }
  }

  &__compact {

    .header__links {
      line-height: $height-top-c;
      @include bp-min($medium){
        line-height: $height-top-c;
      }
    }
  }
}

.header--site {

  .nav--main {

    .is-top-level.menu__anchor {
      @include trans-collapse(0.15, line-height);
      @include bp-min($medium){
        line-height: $height-line;
      }
    }
    .menu-main__toggle {
      .menu-toggle {
        height: $height-line-mob;
      }
    }
  }

  &__compact {

    .nav--main {

      .is-top-level.menu__anchor {
        @include bp-min($medium){
          line-height: $height-line-c;
        }
      }
    }
  }
}


// Move site-container down for fixed header
.site-container {
  @include trans-collapse(0.15, padding-top);
  padding-top: $height-menu-mob;
  @include bp-min($medium){
    padding-top: $height-menu;
  }

  &.compact {
    padding-top: $height-menu-mob-c;
    @include bp-min($medium){
      padding-top: $height-menu-c;
    }
  }
}

// when header top is enabled by links or lang select
.header-top {

  .site-container {
    @include trans-collapse(0.15, padding-top);
    padding-top: $height-top + $height-menu-mob;
    @include bp-min($medium){
      padding-top: $height-top + $height-menu;
    }

    &.compact {
      padding-top: $height-top-c + $height-menu-mob-c;
      @include bp-min($medium){
        padding-top: $height-top-c + $height-menu-c;
      }
    }
  }
}
