/*--------------------------------------------------------------
## Header
==============================================================*/
.header {
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 300;
  // overflow: hidden;
}

// Make theme admin-bar-aware
body.admin-bar .header--site {
	margin-top: 46px;
	@include bp-min(783) {
		margin-top: 32px;
	}
}

body #wpadminbar {
	overflow: hidden;
	position: fixed;
}

// Reminder to enable JavaScript
#no-javascript {
	color: theme(site, base);
	font-weight: bold;
	padding: 5px 0;
	padding: 0.3125rem 0;
	text-align: center;
}
