/*--------------------------------------------------------------
### Menu--main  ( main menu list )
--------------------------------------------------------------*/
.menu--main {
	// Turn off menu list on mobile view
	display: none;
	@include bp-min($medium){
		display: inline-block;
		font-size: 0;
	}

	.menu__item {
		font-family: $font_menu;

		.is-top-level.menu__anchor {
			//padding: 1rem;
			@include bp-min($medium){
				margin: 0.5rem 0;
			}
		}
	}

	.menu__anchor {
		@include bp-min($medium){
			text-decoration: none;
		}
	}

	.menu__sub-menu {

		// submenu item
		.menu__item {
			@include bp-min($medium){
				font-size: 0.875rem;
			}
		}
		// submenu anchor
		.menu__anchor {
			@include bp-min($medium){
				width: $width_submenu_main;
			}
		}
	}
} // menu--main

.menu--main--left {
  .menu__item {
    &:last-child .menu__anchor {
			@include bp-min($medium){
				padding-right: 1rem;
			}
    }
  }
}
