/*--------------------------------------------------------------
## Post content
==============================================================*/
.post-content {
  font-size: inherit;
  text-align: left;

  .fa-external-link {
    font-size: 0.875em;
    margin: 0 0 0 2px;
    margin: 0 0 0 0.125rem;
    padding: 0 2px 0 2px;
    padding: 0 0.125rem 0 0.125rem;
    text-indent: 0;
    vertical-align: baseline;
    white-space: nowrap;
  }
}

// Disable special icon for an individual link.
// Use for the desired link:
// <a href="http://site-address.com" class="no-link-icon" target="_blank">Link text</a>
.no-link-icon .fa-external-link {
	display: none;
}
