/*--------------------------------------------------------------
### Grid--gallery
--------------------------------------------------------------*/
.grid--gallery {
  margin-left: -$grid_space_gal;
  margin-right: -$grid_space_gal;

  > .block {
    margin-left: $grid_space_gal;
    margin-right: $grid_space_gal;
    @include calc-width(100, $grid_space_gal);
  }

  &.grid--20 {

    > .block {
      @include calc-width(50, $grid_space_gal);

      @include bp-min($small) {
        @include calc-width(33.3333, $grid_space_gal);
      }
      @include bp-min($medium) {
        @include calc-width(20, $grid_space_gal);
      }
    }
  }

  &.grid--25 {
    > .block {
      @include calc-width(50, $grid_space_gal);

      @include bp-min($small) {
        @include calc-width(33.3333, $grid_space_gal);
      }
      @include bp-min($medium) {
        @include calc-width(25, $grid_space_gal);
      }
    }
  }

  &.grid--33 {
    > .block {
      @include bp-min($small) {
        @include calc-width(50, $grid_space_gal);
      }
      @include bp-min($medium) {
        @include calc-width(33.3333, $grid_space_gal);
      }
    }
  }

  &.grid--50 {

    > .block {
      @include bp-min($small) {
        @include calc-width(50, $grid_space_gal);
      }
      @include bp-min($medium) {
        @include calc-width(50, $grid_space_gal);
      }
    }
  }
}
