/*--------------------------------------------------------------
### List--hor
--------------------------------------------------------------*/
.list--hor {
  list-style: none; // remove dots
  margin: 0;

  > li {
    display: inline-block;
    padding-right: 0.375rem;
    margin: 0;
    @include bp-min($medium){
      padding-right: 0.75rem;
    }

    a {
      text-align: inherit;
    }
  }

  &.list--right {

    > li {
      padding-right: 0;
      padding-left: 0.375rem;
      @include bp-min($medium){
        padding-right: 0.75rem;
      }
    }
  }

  &.pad {

    li {
      background: #fff;
      padding: 0.5em 1em;
    }
  }
}
