/*--------------------------------------------------------------
### Widget sidebar
--------------------------------------------------------------*/
.widget--sidebar {
  font-size: 1em;

  .widget__title {
  }
}
