/*--------------------------------------------------------------
### Page-header--sq
--------------------------------------------------------------*/
// post & page
.header--square {
  padding-top: 1rem;

  @include bp-min($medium){
    padding-top: 4rem;
  }

  .grid > .block {
    @include bp-min($medium){
      margin-bottom: 0;
    }
  }

  .block--image {
    z-index: 1;
    img {
      box-shadow: $box_shadow_img;
    }

  }

  .block--meta {
    @include bp-max($medium){
      order: 2;
    }
  }

  .date {
    margin-left: 0.25rem;
    &::before {
    }
  }
}
