/*--------------------------------------------------------------
## wp-admin columns
--------------------------------------------------------------*/
.fixed {
	.column-img {
		width: 20px;
		@include bp-min(850) {
			width: 100px;
		}
		img {
			object-fit: cover;
			height: 18px;
			width: 24px;
			@include bp-min(850) {
				height: 80px;
				width: 100px;
			}
		}
	}
	.column-date {
		width: 13%;
	}

	.column-author {
		width: 10%;
	}

	.column-title {
		min-width: 15%;
	}

	.column-page-templates {
		width: 10%;
	}
}
