/*--------------------------------------------------------------
## wp-admin postbox
--------------------------------------------------------------*/
.postbox {

	.inside {
		background: color(wp, postbox);
	}
	// yoast bar bg fix
	.wpseo-metabox-menu {
		background: color(wp, postbox);
	}
}

.js .postbox .hndle {
	cursor: pointer;
}
