/*--------------------------------------------------------------
## Row
==============================================================*/
.row {
  padding-top: $row_space_s;
  padding-bottom: $row_space_s - ($grid_space);
  position: relative;
  @include bp-min($medium) {
    padding-top: $row_space_m;
    padding-bottom: $row_space_m - ($grid_space * 2);
  }

  & .row {
    padding: 0;
  }

  &.no-grid {
    padding-top: $row_space_s;
    padding-bottom: $row_space_s;
    @include bp-min($medium) {
      padding-top: $row_space_m;
      padding-bottom: $row_space_m;
    }
  }
}


.grid {

  > .row__text,
  > .row__title {
    margin: 0 $grid_space 2rem $grid_space;
  }

}
