/*--------------------------------------------------------------
### row__title
--------------------------------------------------------------*/
.row__title {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 2rem;

  a {
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

}


.row__title--theme {
  padding: 14px 10px 4px 8px;
  @include bp-max($medium){
    width: 100%;
  }
}
