/*--------------------------------------------------------------
### row__text
--------------------------------------------------------------*/
.row__text {
  width: 100%;

  p {
    line-height: 1.5;
    margin: 0 0 1rem 0;
    font-size: 0.875em;
  }
}
