/*--------------------------------------------------------------
## Row-modifiers
==============================================================*/
.row--bar {

  .row__subtitle,
  .row__title {
    padding: 1rem 0;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}
