/*--------------------------------------------------------------
## Theme - previews
--------------------------------------------------------------*/
.preview--page {
  background: theme(main, bg);
}

.preview--post {

  .block__title {
    @include bp-max($medium){

      &:after {
        @include fa_em();
        content: "\f178";
        padding: 0 0 0 0.5em;
      }
    }
  }
}

.preview--search {
  background: theme(main, bg);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-left: 16px solid theme(main);

  &:hover {
    border-color: theme(main, alt);
  }

  &:active {
    border-color: theme(main, alt);
  }
}

.preview--page--icon {
  background: theme(main, bg);
  padding: $pad;

  .block__img {
    opacity: 0.85;
  }

  &:hover {

    .block__img {
      filter: $filter_secondary;
      opacity: 1;
    }

  }

  &:active {

    .block__img {
      filter: $filter_primary;
      opacity: 1;
    }
  }
}
