/*--------------------------------------------------------------
## Theme - primary color scheme
==============================================================*/
.style-1 {

  .button {
    @include button--alt;
  }
  .button--wired {
    @include button--wired--w;
  }


  &.row {
    background: theme(style-1, bg);
    color: theme(style-1, text);

    .row__text p {
      color: theme(style-1, text);
    }
    .row__title,
    .row__subtitle {
      color: theme(style-1, titles);

      &::before,
      &::after {
        color: inherit;
      }
    }

    .block--text {

      h2, h3, h4 {
        color: theme(style-1, titles);
      }
      p, li {
        color: theme(style-1, text);

        &::before,
        &::after {
          color: inherit;
        }
      }
    }

    blockquote {
      background: theme(style-1, text);
      border-left: solid 2px theme(style-1, border);
      border-bottom: solid 1px theme(style-1, border);
    }
  }

}
