/*--------------------------------------------------------------
## Theme - posts
--------------------------------------------------------------*/
.single-post {

  .site-container {
    background: theme(main, bg);
  }

  .post-header {
    background: theme(main, bg);
  }

}

.post-date {
  color: theme(main, text);

  &::before {
    color: theme(main, text);
  }

  &.updated {
    color: theme(main);
  }
}
