/*--------------------------------------------------------------
## Theme - blocks
--------------------------------------------------------------*/
.block {

  &.no-bg {
    background: none;
  }
  // white alternative bg
  .has-bg {
    background: theme(main, bg-alt);
  }
}


.block__meta {
  .date {
    color: theme(main, text);
  }
  .date--square {
    background: theme(main, base);
    color: theme(main, white);
  }
}

.table {

	thead,
	thead tr {
		background-color: theme(main);
		color: theme(main, white);
	}
}

.table--margin {

	td, tr, th {
		border-color: theme(site, body);
	}
	tbody {
		td, tr {
			background: theme(site, body);
		}
	}
	thead,
	thead tr {
		background-color: theme(main);
		color: theme(main, white);
	}
}


// specific blocks
.block--collapse {

  .block__title {
    border-bottom-color: theme(main, titles);

    &::after {
      color: theme(main, titles);
    }
  }
}
