/*--------------------------------------------------------------
## Theme - secondary color scheme
   blocks
--------------------------------------------------------------*/
.style-2 {

  .preview--post {
  }

  .preview--page {
    background: theme(style-2, bg-alt);
    color: theme(style-2);

    p,
    li {
      color: theme(main, text);
    }

    .block__link,
    .btn {
      color: theme(style-2, bg-alt);

      &::before,
      &::after {
      }
    }
  }


  .block--collapse {

    .block__title {
      border-bottom-color: theme(style-2, titles);

      &::after {
        color: theme(style-2, titles);
      }
    }
  }


  .block--form {

    label {
      color: theme(style-2, titles);
    }
  }
}
