/*--------------------------------------------------------------
## Theme - pages
--------------------------------------------------------------*/
.page {

  .page-header {
    background: theme(main, bg);
  }

  // with background image
  .page-header--bg {
  }
}
