/*--------------------------------------------------------------
## Section-body
==============================================================*/
// custom sections - ACF wysiwig
.section-body {

	.block--text {
		word-break: normal;
		word-wrap: break-word;
		user-select: none;

		h2 {
			margin: 4rem 0 2rem 0;
			width: 100%;

			&:first-child {
				margin-top: 0;
			}
		}

		h3 {
			margin: 3rem 0 2rem 0;
			width: 100%;

			&:first-child {
				margin-top: 0;
			}
		}

		h4 {
			margin: 2rem 0 1rem 0;

			&:first-child {
				margin-top: 0;
			}
		}

		h4 ~ ul {
			margin-top: 0;
		}
	}
}
