/*--------------------------------------------------------------
### Grid--gallery
--------------------------------------------------------------*/
.grid--gallery {
  margin-left: -$gridspace_gal;
  margin-right: -$gridspace_gal;

  > .block {
    margin-left: $gridspace_gal;
    margin-right: $gridspace_gal;
    @include calc-width(100, $gridspace_gal);
  }

  &.grid--20 {

    > .block {
      @include calc-width(50, $gridspace_gal);

      @include bp-min($small) {
        @include calc-width(33.3333, $gridspace_gal);
      }
      @include bp-min($medium) {
        @include calc-width(20, $gridspace_gal);
      }
    }
  }

  &.grid--25 {
    > .block {
      @include calc-width(50, $gridspace_gal);

      @include bp-min($small) {
        @include calc-width(33.3333, $gridspace_gal);
      }
      @include bp-min($medium) {
        @include calc-width(25, $gridspace_gal);
      }
    }
  }

  &.grid--33 {
    > .block {
      @include calc-width(50, $gridspace_gal);

      @include bp-min($medium) {
        @include calc-width(33.3333, $gridspace_gal);
      }
    }
  }

  &.grid--50 {

    > .block {
      @include calc-width(50, $gridspace_gal);

      @include bp-min($medium) {
        @include calc-width(50, $gridspace_gal);
      }
    }
  }
}
