.rollout {
  display: inline-block;
  line-height: 1.5rem;
  position: relative;
  font-size: 12px;
  text-decoration: none;

  &::after {
    @include fa();
    content: "\f0da";
    margin-left: 0.25rem;
    vertical-align: -2px;

    @include bp-min($medium){
      @include trans-vp(0.4, margin);
    }
  }

  .rollout-visible {
    text-decoration: underline;
    text-decoration-color: $c_primary_grey_2;

    @include bp-min($medium){
      position: relative;
      left: 0;
      width: 174px;
      display: inline-block;
      z-index: 1;
    }
  }

  .rollout-hidden {
    opacity: 1;
    z-index: 0;
    width: auto;
    text-decoration: underline;
    margin-left: 1em;

    @include bp-min($medium){
      @include trans-vp(0.4, left, opacity, width);
      display: inline-block;
      position: absolute;
      line-height: 1.5rem;
      left: 0;
      z-index: -1;
      width: 1px;
      opacity: 0;
      margin-left: 0;
    }
  }

  // states
  &:active,
  &:hover {
    @include bp-min($medium){
      &::after {
        transform: translateZ(0);
        margin-left: 77px;
      }
      .rollout-visible {
        text-decoration: none;
      }
      .rollout-hidden {
        transform: translateZ(0);
        opacity: 1;
        z-index: 0;
        left: 180px;
        width: auto;
        text-decoration: underline;
      }

    }
  }

  &.tax__link {
    display: inline-block;
    padding: 0;
    .rollout-visible {
      width: auto;
      font-size: 1.25rem;
      @include bp-min($medium){
        font-size: 1.5rem;
      }
    }
    .rollout-hidden {
      bottom: 1px;
      right: -4px;
      left: unset;
      padding: 0 1rem 0 0.5rem;
      @include bp-min($medium){
        font-size: 13px;
        min-width: 89px;
        bottom: 1px;
      }
    }

  }
}

.is-right {

  // right aligned, opens to left
  &.rollout {

    .rollout-visible {
      right: 64px;

      @include bp-min($medium){
        @include trans-vp(0.4, right);
        right: 0;
        width: 171px;
      }
    }

    .rollout-hidden {

      @include bp-min($medium){
        transition-property: right, opacity;
        left: unset;
        right: 0.75rem;
      }
    }

    // states
    &:active,
    &:hover {
      @include bp-min($medium){
        .rollout-visible {
          right: 74px;
        }
      }
    }

    &.tax__link {
      display: inline-block;
      padding: 0;

      &::after {
        right: -0.75rem;
        bottom: 3px;
        position: absolute;
      }

      .rollout-hidden {
        bottom: 0;
        right: 0;
        width: auto;
        padding: 0 0 0 0.5rem;
        @include bp-min($medium){
          font-size: 13px;
          padding: 0;
          bottom: 1px;
          width: 1px;
        }
      }

      .rollout-visible {
        width: auto;
        font-size: 1.25rem;
        @include bp-min($medium){
          font-size: 1.5rem;
        }
      }

      // states
      &:active,
      &:hover {
        @include bp-min($medium){
          .rollout-visible {
            left: unset;
            right: 80px;
          }
          .rollout-hidden {
            width: auto;
          }
        }
      }
    }

  }
}
