/*--------------------------------------------------------------
## Yoast
==============================================================*/
.yoast {

  p.breadcrumbs {
    margin-bottom: 0;
  }

  .breadcrumbs {
    font-size: 0.875em;
    padding: 0.5em;
  }
}
