/*--------------------------------------------------------------
## Swiper slider
==============================================================*/
.swiper-container {
  height: 320px;
  @include bp-max($small) {
    height: 240px;
  }
  @include bp-min($medium) {
    height: 360px;
  }
  @include bp-min($large) {
    height: 400px;
  }
}
