/*--------------------------------------------------------------
## Theme - rows
--------------------------------------------------------------*/
.row {

  &.no-bg {
    background: none;
  }
  // white alternative bg
  &.has-bg {
    background: theme(main, bg-alt);
  }
}

.row__title {
  color: theme(main, titles);
}

.row--previews--rel {
  background: theme(main, grey);
}

.row--bar {
  background: theme(main, bg-alt);
}

// pages
.row--contact {

  &.company {
    background: theme(main, bg-alt);
  }
}

.row--section {

  .block__link {
    background: linear-gradient( to right, clr(grey), clr(grey, light));
  }

  &.has-bg {

    .block__link {
      background: theme(main, bg);
    }
  }
}

.home {
  .row--section .block__link {
    background: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}


.row--product__ww {

  .block--text {
    h3 {
      color: clr(grey, dark);
    }
    h4 {
      color: theme(main, white);
      background: theme(main);
      box-shadow: 1px 1px 3px rgba(#6c6c6c, 0.2);
    }
    ul {
      background: theme(main, white);
      box-shadow: 1px 1px 3px rgba(#6c6c6c, 0.2);
    }
  }
}

.row--product__cost {

  .preview--page--product {
    background: linear-gradient( to right, rgba(clr(primary), 1), rgba(clr(primary, darkish), 1));

    .block__title--inverse {
      background: clr(white);
      color: clr(black);
    }
  }

}

.has-img {
  .row__title,
  .row__subtitle {
    color: theme(style-1, titles);
    text-shadow: $text_shadow;
  }
}
