/*--------------------------------------------------------------
## Theme - primary color scheme
   rows
--------------------------------------------------------------*/
.style-1 {

  .row__text p {
    color: theme(style-1, text);
  }
  .row__title,
  .row__title a,
  .row__subtitle {
    color: theme(style-1, titles);

    &::before,
    &::after {
      color: inherit;
    }
  }

  &.row--postnav:not(.row--postnav__bot) {
    background: theme(main, text);
  }

  &.row--section {
    .block__link {
      background: clr(primary, dark);
    }
  }

}
