/*--------------------------------------------------------------
## Theme - primary color scheme
==============================================================*/
.style-1 {
  background: theme(style-1, bg);
  color: theme(style-1, text);

  blockquote {
    background: theme(style-1, text);
    border-left: solid 2px theme(style-1, border);
    border-bottom: solid 1px theme(style-1, border);
  }

  .button {
    @include button--alt;
  }
  .button--wired {
    @include button--wired--w;
  }


  .block__link {
    color: theme(style-1, link);
    &:hover {
      color: theme(style-1, link-h);
      text-decoration-color: theme(style-1, icon);
    }
    &:active {
      color: theme(style-1, icon);
    }
  }

  .block__link--arrow {
    background: theme(style-1, link);
    color: theme(main, text);
    &:after {
      border-left-color: theme(style-1, link);
    }

    &:hover {
      background: theme(style-1, link-h);
      color: theme(style-1, btn);
      text-decoration-color: theme(style-1, btn);
      &:after {
        border-left-color: theme(style-1, link-h);
      }
    }
    &:active {
      background: theme(style-1, link-a);
      color: theme(style-1, bta);
      &:after {
        border-left-color: theme(style-1, link-a);
      }
    }
  }

  .tax__label {
    background: theme(style-1, bg-alt);
    color: theme(style-1);
  }


  .rollout {
    color: theme(style-1, link);
    .rollout-visible {
      background: transparent;
    }

    &:hover {
      color: theme(style-1, link-h);
    }
    &:active {
      color: theme(style-1, link-a);
    }
  }


  &.page-header {
    background: theme(style-1, bg);
    color: theme(style-1, text);

    p,
    .date,
    .page-title {
      color: theme(style-1, text);
    }
    .page-subtitle {
      background: theme(style-1, text);
      color: theme(style-1, bg);
    }

    .block__text {
      border-left: 1px solid theme(style-1, text);

      a {
        color: theme(style-1, link);

        &:hover {
          color: theme(style-1, link-h);
        }
        &:active {
          color: theme(style-1, link-a);
        }
      }

      &:not(.btn) {
        color: inherit;
        text-shadow: 1px 1px 2px rgba(theme(main, border),1);
      }
    }
  }

}
