/*--------------------------------------------------------------
## Theme
==============================================================*/
h1, h2, h3 {
	color: theme(main, titles);
}

h1, h2 {
	letter-spacing: 1px;
}

h3, h4 {
	letter-spacing: 2px;
	@include bp-max($small){
		letter-spacing: 1px;
	}
}

a {
	color: theme(main, link);

	&:hover {
		color: theme(main, link-h);
	}
	&:active {
		color: color(main, link-a);
	}
}

.block__link {
	@include bp-min($base){
		letter-spacing: 1px;
	}
}

.rollout-visible {
	@include bp-min($medium){
		background: theme(main, bg);
	}
}
.has-bg {
	.rollout-visible {
		@include bp-min($medium){
			background: theme(main, bg-alt);
		}
	}
}


.block__link--icon {
	&::before {
		color: theme(main, icon);
	}
	&.is-after {
		&::after {
			color: theme(main, icon);
		}
	}
}

.block__link--arrow {
  color: theme(main, text);
  background: theme(main, grey);
  &::after {
    border-left-color: theme(main, grey);
  }
  &:hover {
    color: theme(main);
    background: theme(main, white);
    &::after {
      border-left-color: theme(main, white);
    }
  }
  &:active {
    background: theme(main, link-a);
    color: theme(main, white);
    &::after {
      border-left-color: theme(main, white);
    }
  }

}

.tax__label {
	background: theme(main);
	color: theme(main, bg);
}


.post-body,
.block--text {

	h2 {
		color: theme(main, titles);
	}
	h3 {
		color: theme(main, titles-alt);
	}

	h4, h5, h6,
	p {
		color: theme(main, text);
	}

	p > a {
		color: theme(main, link);
		text-decoration-color: theme(main, alt);

		&:hover {
			color: theme(main, link-h);
		}
		&:active {
			color: theme(main, link-a);
		}
	}

	ul, ol {

		> li::before {
			color: theme(main, icon);
		}
	}

	// other elements
	blockquote {
		background: theme(main, bg-alt);
		p {
			color: theme(main, text);
		}
	}

	code {
		background: theme(main, bg-alt);
	}
}
