/*--------------------------------------------------------------
## Theme - primary color scheme
   blocks
--------------------------------------------------------------*/
.style-1 {

  .block--text {

    h2, h3, h4 {
      color: theme(style-1, titles);
    }
    p, li {
      color: theme(style-1, text);

      &::before,
      &::after {
        color: inherit;
      }
    }
  }


  .block--list {
    .block {
      background: theme(style-1, bg-alt);
    }
    .block__item {
      color: theme(style-1);
    }
  }

  .block--archive {
    .block__link {
      color: theme(main, link);
      &:hover {
        color: theme(main, link-h);
        text-decoration-color: theme(main, link-h);
      }
      &:active {
        color: theme(main, icon);
      }
    }
  }


  .block--collapse {

    .block__title {
      border-bottom-color: theme(style-1, titles);
      &::after {
        color: theme(style-1, titles);
      }
    }
  }


  .block--price {
    border: 1px solid theme(main, white);

    .block__price {
      background: linear-gradient(to left, rgba(clr(grey),1) 0%, rgba(clr(grey,light),1) 25%, rgba(clr(grey,light),1) 75%, rgba(clr(grey),1) 100% );
      border-bottom: 1px solid theme(main, icon);
      color: theme(main, text);
    }
  }


  .block--form {

    label {
      color: theme(style-1, titles);
    }
  }


  .block--meta {

    .date,
    .name,
    .block__title {
      color: theme(style-1, titles);
    }
  }

}
