/*--------------------------------------------------------------
### Button--wired
--------------------------------------------------------------*/
@mixin button--wired() {
  background: transparent;
  border: 1px solid theme(main, btn);
  border-radius: $btn_radius;
  box-shadow: 1px 1px theme(main, btn);
  color: theme(main, btn);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  .clickable:hover &.click,
  &:hover {
    background: theme(main, btn);
    border-color: transparent;
    border-bottom-color: theme(main, btn-a);
    color: theme(main, bg);
    text-shadow: $text_shadow;
  }

  .clickable:active &.click,
  &:active {
    background: theme(main, btn-a);
    border-color: theme(main, btn-a);
    color: theme(main, bg);
    text-shadow: $text_shadow;
  }
}


.button--wired {
  @include button--wired();

  &:focus {
    outline: 0;
  }
}
