/*--------------------------------------------------------------
## ACF postboxes
--------------------------------------------------------------*/
.acf-postbox {

  .inside {
    background: color(wp, postbox);
  }

  .inside.-sidebar {
    background: color(wp, white);
  }

  &.seamless {
    background: none;
  }

  label {
    cursor: default;
  }
}


.acf-fields.-sidebar {

  .acf-field,
  .acf-field-group {
    background: color(wp, white);
  }
}
