/*--------------------------------------------------------------
### block__link--arrow
--------------------------------------------------------------*/
.block__link--arrow {
  text-decoration: underline;
  text-decoration-color: clr(secondary);
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-right: 1.5rem;
  padding: 0 1rem 0 1rem;
  position: relative;
  max-width: calc(100% - 1.5rem);
  width: 100%;

  &::after {
    @include triangle_right_scale(theme(main, bg), 1.25);
  }

  @include bp-max($base){
    font-size: 14px;
  }
}
