$themecolors: (
  site: (
    base: clr(black),
    bg: clr(white),
    body: clr(white, theme),
    alert: #8B3036,
  ),
  footer: (
    base: clr(black),
    bg: clr(white),
    text: clr(black),
    title: clr(black),
    link: clr(black),
    link-h: clr(secondary),
    link-a: clr(secondary, light),
  ),
  header: (
    base: clr(black),
    bg: clr(white),
    bg-alt: clr(white, theme),
    text: clr(black),
  ),
  menu: (
    base: clr(black),
    bg: clr(white),
    link: clr(primary),
    link-h: clr(primary, light),
    link-a: clr(primary, dark),
    mark: clr(primary),
  ),
  submenu: (
    base: clr(black),
    bg: clr(white),
    link: clr(black),
    link-h: clr(primary),
    link-a: clr(primary, dark),
    mark: clr(primary, light),
  ),
  mobmenu: (
    base: clr(black),
    bg: clr(white),
    bg-alt: clr(grey, white),
    link: clr(primary),
    link-h: clr(primary),
    link-a: clr(primary, dark),
    mark: clr(primary),
  ),
  form: (
    base: clr(black),
    bg: clr(white),
    focus: clr(white, theme),
    text: clr(black),
    text-h: clr(black),
    text-a: clr(black),
    border: clr(secondary),
    border-h: clr(primary),
    border-a: clr(primary),
    label: clr(primary),
  ),
  // default theme
  main: (
    base: clr(primary),
    alt: clr(secondary),
    text: clr(black),
    titles: clr(primary),
    bg: clr(white, theme),
    bg-alt: clr(white),
    link: clr(primary),
    link-h: clr(primary, light),
    link-a: clr(primary, dark),
    btn: clr(primary),
    btn-h: clr(primary, light),
    btn-a: clr(primary, dark),
    border: clr(primary, dark),
    grey: clr(grey),
    white: clr(white, theme),
  ),
  // full-color background
  style-1: (
    base: clr(primary),
    alt: clr(secondary),
    bg: clr(primary),
    bg-alt: clr(white),
    text: clr(white),
    titles: clr(white),
    link: clr(white, theme),
    link-h: clr(white),
    link-a: clr(grey, light),
    btn: clr(secondary),
    btn-h: clr(secondary, light),
    btn-a: clr(secondary, dark),
    border: clr(secondary, dark),
  ),
  // full-color background
  style-2: (
    base: clr(secondary),
    bg: clr(secondary),
    bg-alt: clr(tertiary, white-2),
    text: clr(tertiary, white-2),
    titles: clr(tertiary, white-2),
    link: clr(tertiary, white-2),
    link-h: clr(tertiary, light),
    link-a: clr(tertiary, dark),
    btn: clr(tertiary, light),
    btn-h: clr(tertiary, light),
    btn-a: clr(tertiary, dark),
    border: clr(tertiary, light),
  ),

);

@function theme($base, $shade: base) {
  $color: map-get(map-get($themecolors, $base), $shade);
  @return $color;
}
