/*--------------------------------------------------------------
### block__title--icon
--------------------------------------------------------------*/
.block__title--icon {
  position: relative;
  padding-left: 1rem;

  &::before {
    @include fa();
    content: "\f0da";
    font-size: 80%;
    position: absolute;
    top: 0.25em;
    left: 0;
  }
}
