/*--------------------------------------------------------------
### block__link--label
--------------------------------------------------------------*/
.block__link--label {
  display: inline-block;
  padding: 0.5rem 2em;
  position: relative;
  right: -#{$pad + ($pad / 2)};
  bottom: -$pad / 2;

  &::before {
    @include triangle_title_r(0.5);
  }
  &::after {
    @include fa();
    content: "\f105";
    margin-left: 0.5rem;
  }
}
