/*--------------------------------------------------------------
### block__link--doc
--------------------------------------------------------------*/
.block__link--doc {
  display: inline-block;
  font-size: 0.8125em;
  padding: 10px 20px;
  text-align: left;
  border-width: 1px;

  &::before {
    @include fa();
    content: "\f15c";
    font-size: 0.875em;
    margin-right: 0.5em;
    vertical-align: 1px;
  }
}
