/*--------------------------------------------------------------
### Block__sticky
--------------------------------------------------------------*/
.block--side {
  position: relative;
  align-items: flex-start;
}

.block__sticky {
  position: sticky;
  top: 130px;
}
