/*--------------------------------------------------------------
## ACF fields
--------------------------------------------------------------*/
.acf-input {

  .acf-field {

    // slightly smaller labels
    .acf-label label {
      font-size: 12px;
    }
  }
}


.acf-fields {

  /* message fields */
  .acf-field-message {
    font-size: 12px
  }

  p.description {
    font-size: 12px;
  }

  // image upload text
  .acf-image-uploader p {
    font-size: 12px;

    .acf-button {
      margin-top: 6px;
    }
  }

}

.acf-input .acf-switch + .message {
  display: inline-block;
  font-size: 12px;
  vertical-align: -2px;
}


// make tabs slightly less wide
.acf-tab-wrap.-left .acf-tab-group,
.acf-fields.-sidebar:before {
  width: 16%;
}
.acf-fields.-sidebar {
  padding-left: 16%!important;
}


// style tabs
.acf-fields .acf-tab-wrap {

  .acf-tab-group {
    li.active {

      .acf-tab-button {
        box-shadow: -1px 1px 2px rgba(1,1,1,0.1);
      }
    }
  }
}
