/*--------------------------------------------------------------
## Preview
==============================================================*/
.preview {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;

  .block__footer {
    @include bp-min($small){
      text-align: right;
    }
  }

  /* inner spacing -------------------------------------------*/

  .block__title + .block__text,
  .block__meta + .block__footer {
    margin-top: $pad;
  }
  .block__list + .block__footer,
  .is-excerpt + .block__footer {
    margin-top: $pad;

    @include bp-min($medium){
      margin-top: auto;
    }
  }

  .block__footer + .block__text,
  .block__img + .block__body,
  .block__thumb + .block__body {
    margin-top: $pad;
  }
}

.grid--100 {

  .preview {
    .block__thumb + .block__body {
      margin-top: $pad;
      @include bp-min($small){
        margin-top: 0;
        margin-left: $pad * 2;
      }
    }

  }
}
