/*--------------------------------------------------------------
### preview--post--slide
--------------------------------------------------------------*/
.preview--post--slide {

  // slide
  $title_height_s: 4.5rem;
  $trans_up_s: $title_height_s + ($pad * 2);
  $title_height_m: 3.625rem;
  $trans_up_m: $title_height_m + ($pad * 2);
  $title_height_l: 4.25rem;
  $trans_up_l: $title_height_l + ($pad * 2);

  .block__body.inside {
    background: rgba(theme(site, base), 0.5);
    bottom: auto;
    @include trans-ea(0.2, transform, background-color);
    transform: translateY( -#{$trans_up_s} );

    @include bp-min($medium){
      transform: translateY( -#{$trans_up_m} );
    }
    @include bp-min($large){
      transform: translateY( -#{$trans_up_l} );
    }
  }


  &.clickable {

    &:hover {
      @include bp-min($medium){

        .block__body.inside {
          background: rgba(theme(site, base), 0.75);
          transform: translateY( -100% );
        }
      }
    }
  }
}
