/*--------------------------------------------------------------
### Row sections
--------------------------------------------------------------*/
.row--section {

  &.connect {
    padding-bottom: 0;

    + .row--section {
      padding-top: 0;
    }
  }

  .reverse {
    .button-group {
      text-align: right;
    }
  }

  .block__img {
    img {
      //box-shadow: $box_shadow_img;
    }
  }

  // adjust row title width to block
  &.text-text {

    .row__title {
      @include bp-min($medium){
        @include calc-width(50, ($gridspace / 2));
      }
    }
  }

}
