/*--------------------------------------------------------------
### block__link
--------------------------------------------------------------*/
.block__link {
  font-size: 0.8125em;
  @include bp-max($small) {
    font-size: 0.8125em;
  }
  @include bp-min($medium) {
    font-size: 0.9375em;
  }
}
