/*--------------------------------------------------------------
### block__text
--------------------------------------------------------------*/
.block__text {
  color: inherit;

  &.is__excerpt p {
    min-height: 6em;
    @include bp-max($small) {
      min-height: auto;
    }
    @include bp-min($medium) {
      min-height: 4.5em;
    }
    @include bp-min($large) {
      min-height: 5em;
    }
  }

  p {
    font-size: inherit;
    margin: 0 0 1rem 0;
  }

  &.pad {
    padding-left: $pad;
    padding-right: $pad;
  }

}


.block__text--small {
  font-size: 0.75em;

  p {
    font-size: inherit;
  }
}
