/*--------------------------------------------------------------
### block__img
--------------------------------------------------------------*/
.block__img--circle {

  img {
    border-radius: 50%;
    height: auto;
    width: img_circle_s;
    @include bp-min($medium) {
      width: $img-circle-m;
    }
    @include bp-min($large) {
      width: $img-circle-l;
    }
  }
}
