/*--------------------------------------------------------------
### Preview--portfolio
--------------------------------------------------------------*/
.preview--portfolio {
  margin-bottom: 4rem;
  @include bp-min($medium){
    margin-bottom: 8rem;
  }

  .block__footer + .block__text {
    margin-top: $pad - 0.375rem;
  }

  .block__text {
    p {
      color: inherit;
      font-size: 0.875em;
    }
  }

  .block__btn {
    font-size: 0.875em;
    width: 50%;
    text-align: center;
    padding: 0.375rem 1.25rem;
    @include bp-min($medium){
      padding: 0.5rem 1.5rem;
    }
  }


  &__mini {
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;

    .block__title {
      width: auto;
    }

    .block__footer {
      text-align: left;
      width: auto;
    }
  }

}
