/*--------------------------------------------------------------
### Wrap-main
--------------------------------------------------------------*/
.wrap-main {
  @include center;
  overflow: hidden;
  width: 100%;
}
