/*--------------------------------------------------------------
## Page-title
--------------------------------------------------------------*/
.page-title {
	margin: 0;
  padding: 1.25rem 0;

  a {
    text-decoration: none;
  }
}

.page-title__inverse {
  background: theme(main);
  color: theme(main, bg);
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
