/*--------------------------------------------------------------
### Page-header
--------------------------------------------------------------*/
.page-header {
	position: relative;

	&.header--square {
		padding-bottom: 0;
		@include bp-min($medium){
			padding-bottom: $height_pad_m - 2rem;
		}
	}
}
