/*--------------------------------------------------------------
## Dashicons frontend
==============================================================*/
.dashicons-before {

  &::before {
    font-size: 2rem;
    vertical-align: -0.25em;
    margin-right: 1.5rem;
    text-decoration: none !important;
  }
}
