/*--------------------------------------------------------------
### block__list
--------------------------------------------------------------*/
.block__list {
  color: inherit;
  line-height: 1.5;
  margin: 0;

  li {
    list-style: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    a {
      display: inline-block;
    }

    &.has-link {
      padding-top: 0;
      padding-bottom: 0;
      a {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }
    }
  }

  &.pad {
    padding: $pad;
  }
}
