/*--------------------------------------------------------------
## block-modifiers
==============================================================*/
.block {

  &.center {
    .block__text,
    .block__title {
      text-align: center;
    }
    .block__img--icon {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.list_block {
    background: theme(main, bg);

    .block__text {
      margin-left: auto;
      margin-right: auto;
      padding: 3em 2em 1em 2em;
      @include bp-min($small){
        padding: 3em 2.5em 1em 2.5em;
      }

      ul {
        margin-right: 0;
        li {
          padding-right: 0;
        }
      }
    }
  }
}
