/*--------------------------------------------------------------
## block-effects
==============================================================*/
// flip-card cannot be used with 'clickable' class

.preview.flip {
	background-color: transparent;
	padding: 0;

	.flip-card {
		background-color: transparent;
		width: 100%;
		height: 240px;
		perspective: 1000px;

		&:hover {

			.flip-card-inner {
				transform: rotateX(180deg);
			}
		}
	}

	// This container is needed to position the front and back side
	.flip-card-inner {
	  position: relative;
	  width: 100%;
	  height: 100%;
		@include trans(0.5, transform);
	  transform-style: preserve-3d;
	}

	// Position the front and back side
	.flip--front,
	.flip--back {
		display: block;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  -webkit-backface-visibility: hidden; /* Safari */
	  backface-visibility: hidden;
	}

	// Style the front side (fallback if image is missing)
	.flip--front {
	}

	// Style the back side
	.flip--back {
		transform: rotateX(180deg);
	}
}
