/*--------------------------------------------------------------
### Block--author
--------------------------------------------------------------*/
.block--author {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;

	// Link
	.author__link {
		text-decoration: underline;
		padding: 0;
	}

	.block__title {
		line-height: 48px;
	}

	// Avatar
	.author__avatar {
		width: 48px + 16px; // 64px
	}

	.post-author::before {
		display: none;
	}

	// Description
	.block__body {
		display: block;
		width: calc(100% - 64px);

		.author__bio {
			font-size: 0.875em;
		}

	}
}
