// lighten/darken vars
$light: 10;
$lighter: 15;
$dark: 10;
$darker: 15;

$palette: (
  primary: (
    base: #206697, // #aa2c8e, //#813670, //#8f406e
    light: lighten(#206697, $light) ,//#9E4289, //#a94c82
    dark: darken(#206697, $dark), //#733063, //#7F3962
    darker: darken(#206697, $darker), // #632C4C,
  ),
  secondary: (
    base: #1D8B5D, //#184C5B,//#3a6669,
    light: lighten(#1D8B5D, $light), //#488184,
    dark: darken(#1D8B5D, $dark),//#2b4d4f,
  ),
  tertiary: (
    base: #F4643D,
    light: lighten(#F4643D, $light), //#488184,
    dark: darken(#F4643D, $dark),//#2b4d4f,
    white-1: #fff8ef, //#ffebcd,
    white-2: #fff2df,
  ),
  white: (
    base: #fff,
    flash: #f1f2f4,
    theme: #f7f7f7,
  ),
  grey: (
    base: #EDEDED,
    light: #EBEBEB,
    dark: #D6D6D6,
    text: #757575,
    white: #f1f4f5,
    black: #757575,
  ),
  black: (
    base: #0f0c1c,
    light: #222,
    dark: #111,
  ),
);

@function clr($base, $shade: base) {
  $color: map-get(map-get($palette, $base), $shade);
  @return $color;
}


// filter black to pink
$filter_primary: invert(.4) sepia(.7) hue-rotate(100deg) saturate(350%);
// filter black to green
$filter_secondary: lighten(saturate(adjust-hue(#222222, 13), 89.27), 46.47);
// filter black to white
$filter_white: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
