
// block__thumb
$block__img-s: 100px;
$block__img-m: 140px;
$block__img-l: 160px;

// icon img
$img_icon_s: 60px;
$img_icon_m: 80px;

// block__img--circle
$img_circle_s: 100px;
$img-circle-m: 140px;
$img-circle-l: 160px;

// row--previews--tabview
$tabview_img_m: 56px;
