/*--------------------------------------------------------------
## wp-admin layout
--------------------------------------------------------------*/
$spacing: 40px;

// body
.postbox {
  background: color(wp, box);
  border: none;
  border-radius: 0 0 4px 0;
  box-shadow: 1px 1px 4px rgba(1,1,1,0.2);
  margin-bottom: $spacing;

  .postbox-header {
    background: color(wp, dark);

    .hndle {
      font-size: 15px;
      color: color(wp, white);
    }

    .toggle-indicator {
      color: color(wp, white);
    }
  }

  .inside {
    padding-top: 10px;
  }


  &.acf-postbox {
    margin-bottom: $spacing;
  }

  #major-publishing-actions {
    border-radius: 0 0 4px 0;
  }
}

#dashboard_quick_press {
	padding-bottom: 1px;
}
